@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;

#letter-container {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0 31px 0 0px;
	margin: -12px auto 120px;
	.letter {
		width: 70%;
		border-radius: 40px;
		margin: 0 32px 0 60px;
		padding: 35px 32px 0 32px;
		background-color: map-get(mixin.$colors, "C-white");
		&__title-date {
			display: flex;
			justify-content: space-between;
			&--letter-title {
				@include mixin.font-settings (
					F-size18,
					F-line-height21-6,
					F-letter-spacing-10,
					F-family-KosugiMaru,
					normal,
					F-color-black);
					i {
						padding: 0 9px 0 0
					}
			}
			&--post-date {
				@include mixin.font-settings (
					F-size14,
					F-line-height16-8,
					F-letter-spacing-10,
					F-family-KosugiMaru,
					normal,
					F-color-black);
			}
		}
		&__title {
			// text-align: center;
			border-bottom:2px solid map-get(mixin.$colors, "C-black"); 
			padding: 11px 0 ;
			@include mixin.font-settings (
			F-size32,
			F-line-height38-4,
			F-letter-spacing-10,
			F-family-KosugiMaru,
			normal,
			F-color-black);
		}
		
		&__image {
			max-width: 640px;
			width: 100%;
			height: 320px;
			border-radius: 40px;
			display: block;
			margin: 32px auto 0;
		}	
		
		.text-content {
			&__inner {
				@include mixin.font-settings (
					F-size16,
					F-line-height32,
					F-letter-spacing-10,
					F-family-KosugiMaru,
					normal,
					F-color-black);
				&--subheading {
					padding: 0 17px;
					margin: 30px 0 8px;
					position: relative;
				}
				&--subheading::before {
					content: "";
					width: 4px;
					height: 32px;
					border-radius: 2px;
					position: absolute;
					top: 2px;
					left: 0;
					background-color: map-get(mixin.$colors, "C-pink");
				}		
				&--paragraph {
					margin: 0 0 8px;
					
				}
			}
		}
		
		.btn {
			max-width: 300px;
			width: 100%;
			height: 60px;
			margin: 64px auto;
		}
		
	}
	.archive-sidebar {
		padding: 12px 0 0 24px;
		border-left: 1.5px solid map-get(mixin.$colors, "C-brown");	
		width: 26%;
		h3 {
			@include mixin.font-settings (
				F-size24,
				F-line-height36,
				F-letter-spacing-20,
				F-family-KosugiMaru,
				normal,
				F-color-brown);
				margin: 0 0 10px;
		}
		.archive-year {
			@include mixin.font-settings (
				F-size16,
				F-line-height24,
				F-letter-spacing-10,
				F-family-KosugiMaru,
				normal,
				F-color-brown);
				
				position: relative;
				p {
					padding: 2px 0 0 15px;
					margin: 0 0 10px;
				}
		}
		.archive-year::before {
			content: "";
			width: 4px;
			height: 24px;
			border-radius: 2px;
			position: absolute;
			background-color: map-get(mixin.$colors, "C-pink");
		}		
		.archive-months {
			display: flex;
			flex-wrap: wrap;
			li {
				margin: 0 7px 12px 8px;
				@include mixin.font-settings (
					F-size14,
					F-line-height14,
					F-letter-spacing-10,
					F-family-KosugiMaru,
					normal,
					F-color-brown);
				background: map-get(mixin.$colors, "C-white");
				padding: 4px 12px;
				border-radius: 8px;
				transition: 0.5s;
				a {
					color: map-get(mixin.$colors, "C-brown");
				}
			}
			li:hover {
				transition: 0.5s;
				background: map-get(mixin.$colors, "C-brown");
				a {
					opacity: 1;
					color: map-get(mixin.$colors, "C-white");
				}
			}
		}
	}
}


@include mixin.TAB1 {
	#letter-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 0 4%;
		margin: -7px auto 107px;
		.letter {
			width: 100%;
			border-radius: 30px;
			margin: 0 auto 26px;
			padding: 32px 4%;
			background-color: map-get(mixin.$colors, "C-white");
			&__title-date {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				&--letter-title {
					@include mixin.font-settings (
						F-size16,
						F-line-height19-2,
						F-letter-spacing-10,
						F-family-KosugiMaru,
						normal,
						F-color-black);
						margin: 2px 0 13px;
						i {
							padding: 0 12px 0 0
						}
				}
				&--post-date {
					@include mixin.font-settings (
						F-size12,
						F-line-height14-4
						F-letter-spacing-10,
						F-family-KosugiMaru,
						normal,
						F-color-black);
				}
			}
			&__title {
				// text-align: center;
				border-bottom:2px solid map-get(mixin.$colors, "C-black"); 
				padding: 11px 0 ;
				@include mixin.font-settings (
				F-size20,
				F-line-height24,
				F-letter-spacing-10,
				F-family-KosugiMaru,
				normal,
				F-color-black);
			}
			
			&__image {
				max-width: 315px;
				width: 100%;
				height: 240px;
				border-radius: 30px;
				display: block;
				margin: 23px auto 0;
			}	
			
			.text-content {
				&__inner {
					@include mixin.font-settings (
						F-size16,
						F-line-height32,
						F-letter-spacing-10,
						F-family-KosugiMaru,
						normal,
						F-color-black);
					&--subheading {
						padding: 0 18px;
						margin: 24px 0 7px;
						position: relative;
					}
					&--subheading::before {
						content: "";
						width: 4px;
						height: 32px;
						border-radius: 2px;
						position: absolute;
						top: 0px;
						left: 3px;
						background-color: map-get(mixin.$colors, "C-pink");
					}		
					&--paragraph {
						margin: 0 0 9px;
						
					}
				}
			}
			
			.btn {
				max-width: 300px;
				height: 60px;
				width: 100%;
				margin: 68px auto;
				p {
					@include mixin.font-settings (
						F-size18,
						F-line-height18,
						F-letter-spacing-10,
						F-family-KosugiMaru,
						normal,
						F-color-brown);
				}
				i{
					font-size: 19px;
					top: 20px;
					right: 21px;
				}
			}
			.btn:hover p{
				color: map-get(mixin.$colors, "C-white");
			}
			
		}
		.archive-sidebar {
			padding: 12px 4% 0 ;
			border-top: 1.5px solid map-get(mixin.$colors, "C-brown");	
			border-left: none;	
			width: 100%;
			h3 {
				@include mixin.font-settings (
					F-size20,
					F-line-height30,
					F-letter-spacing-20,
					F-family-KosugiMaru,
					normal,
					F-color-brown);
					margin: 0 0 10px;
			}
			.archive-year {
				@include mixin.font-settings (
					F-size14,
					F-line-height21,
					F-letter-spacing-10,
					F-family-KosugiMaru,
					normal,
					F-color-brown);
					
					position: relative;
					p {
						padding: 0px 0 0 19px;
						margin: 0 0 10px;
					}
			}
			.archive-year::before {
				content: "";
				width: 4px;
				height: 22px;
        top: -2px;
        left: 5px;
				border-radius: 2px;
				position: absolute;
				background-color: map-get(mixin.$colors, "C-pink");
			}		
			.archive-months {
				display: flex;
				flex-wrap: wrap;
				li {
					margin: 0 7px 12px 8px;
					@include mixin.font-settings (
						F-size12,
						F-line-height12,
						F-letter-spacing-10,
						F-family-KosugiMaru,
						normal,
						F-color-brown);
					background: map-get(mixin.$colors, "C-white");
					padding: 4px 12px;
					border-radius: 8px;
					a {
						color: map-get(mixin.$colors, "C-brown");
					}
				}
			
			}
		}
	}
	
}