@use "../_foundation/mixin"as mixin;
@use "../_foundation/base"as base;

#footer {
  background: linear-gradient(to bottom, #FFFEF3, #FFF7B8);
  .footer {
    &__inner {
      margin: 0 auto;
      padding: 48px 0 12px;
      // background-color: aqua;
      .f-logo-img  {
        display: block;
        margin: 0 auto;
        width: 240px;
        height: 70.86px;
      }

      .f-nav {
        &__ul {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: 48px auto;
          width: 60%;
          gap: 30px;
          &--li a {
            @include mixin.font-settings (
              F-size16,
              F-line-height19-2,
              F-letter-spacing-10,
              F-family-KosugiMaru,
              400,
              F-color-brown);
          }
        }  
      }

      .f-text {
        text-align: center;
        @include mixin.font-settings (
          F-size14,
          F-line-height16-8,
          F-letter-spacing-10,
          F-family-KosugiMaru,
          400,
          F-color-black);
      }
    }
  }
  
}






@include mixin.SP {
  #footer {
    background: linear-gradient(to bottom, #FFFEF3, #FFF7B8);
    .footer {
      &__inner {
        margin: 0 auto;
        padding: 48px 0 12px;
        // background-color: aqua;
        .f-logo-img {
          display: block;
          margin: 0 auto;
          width: 200px;
          height: 59.05px;
        }
        .f-nav {
          &__ul {
            display: grid;
            grid-template-columns: repeat(2, 0.5fr);
            grid-gap: 20.3px 0px;
            justify-content: center;
            align-items: center;
            margin: 48px 10px;
            padding: 0 0 0 3.67%;
            width: 92%;
            justify-items: start;
            &--li {
              text-align: center; // テキストを中央揃え
              a {
              @include mixin.font-settings (
                F-size14,
                F-line-height16-8,
                F-letter-spacing-10,
                F-family-KosugiMaru,
                400,
                F-color-brown);
                width: 100%; // 幅を均等にする
              }  
            }
          }  
        }
  
        .f-text {
          text-align: center;
          @include mixin.font-settings (
            F-size12,
            F-line-height14-4,
            F-letter-spacing-10,
            F-family-KosugiMaru,
            400,
            F-color-black);
        }
      }
    }
    
  }
}  