@use "../_foundation/_mixin"as mixin;
@use "../_foundation/_base"as base;


#header {
	position: sticky;
  top: 0;
	height: 80px;
  z-index: 1000;
  background-color: map-get(mixin.$colors, "C-white");
  box-shadow: 0px 3px 6px #00000029;
  .header {
    &__inner {
      &--sp {
        display: none;
      }
      &--pc {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				padding: 0 3.26% 0 2.22%;
        .header-logo {
					padding:9px 0;
					&__image {
						width: 124px;
						height: 62px;
					}
				}
			
				.header-nav {
					ul {
						display: flex;
						width: 100%;
						// flex-wrap: wrap;
						justify-content: flex-start;
						align-items: center;
						li {
							margin-left: 52px;
							.li-a {
								opacity: 1;
								z-index: 0; // 必ず z-index のベースを設定
								position: relative;
								display: inline-block;
								@include mixin.font-settings (
								F-size14,
								F-line-height19,
								F-letter-spacing-0,
								F-family-Noto-Sans-JP,
								400,
								F-color-black);
								&:hover {
									color: #FFFFFF;
									font-weight: 400;
								}
								&::after {
									content: '';
									position: absolute;
									top: -3px;
									left: -7px;
									width: 142%;
									height: 139%;
									background: linear-gradient(90deg, #001a4d 0%, #005a9c 100%);
									clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
									opacity: 0;
									transition: all 0.5s ease;
									z-index: -1; // 背景にまわす
								}
								&:hover::after {
									opacity: 1;
									z-index: -1;
								}
							}
							
							.contact-a{
								width: 191px;
								height: 48px;
								display: flex;
								position: relative;
								justify-content: center;
								align-items: center;
								@include mixin.font-settings (
								F-size14,
								F-line-height19,
								F-letter-spacing-0,
								F-family-Noto-Sans-JP,
								300,
								F-color-black);
								letter-spacing: -1px;
								box-shadow: 2px 2px 6px #00000029;
								border-radius: 5px;		
								background-color: map-get(mixin.$colors, "C-right-blue");
								color: map-get(mixin.$colors, "C-white");
								&::after {
									content: '';
									display: inline-block;
									width: 0;
									height: 0;
									position: absolute;
									top: 21px;
									right: 18px;
									border-top: 4px solid transparent;
									border-bottom: 4px solid transparent;
									border-left: 6px solid white; // ← 右向き三角を作る
								}
								&:hover {
									border: 1.5px solid map-get(mixin.$colors, "C-blue");
									background-color: map-get(mixin.$colors, "C-gray");
									color: map-get(mixin.$colors, "C-blue");
									font-weight: 500;
									&::after {
										border-left: 6px solid map-get(mixin.$colors, "C-blue");
									}
								}
							}
							
						}
					}
				}
      }
    }
  }
}







@include mixin.TAB2 {
  #header {
		padding: 0px 18px 0px 14px;
		height: 60px;
		width: 100%;
    .header {
      &__inner {
        &--pc {
          display: none;
        }

        &--sp {
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: relative;
					padding: 4px 0 0px;
					z-index: 999;
          .header-logo {
						width: 100%;
						&__image {
							max-width: 94px;
							height: 51px;
						}
					}
					.hamburger {
						width: 34px;
						height: 26px;
						cursor: pointer;
						z-index: 1001;
						&__lines {
							display: flex;
							flex-direction: column;
							gap: 8px;
							&--line {
								width: 24px;
								height: 2.1px;
								border-radius: 3px;
								background-color: map-get(mixin.$colors, "C-blue");
								transition: 0.3s ease;
							}
					}

						&.is-open {
							.hamburger {
								width: 34px;
								height: 21px;
								&__lines {
									left: -4px;
									width: 33px;
									height: 31px;
									position: relative;
									&--line {
										&:nth-child(1) {
											// 上の線が45度回転
											top: 5px;
											left: -9px;
											width: 30px;
											position: absolute;
											transform: rotate(40deg) translate(50%, -50%);
										}
										&:nth-child(2) {
											// 中央の線が非表示
											opacity: 0;
										}
										&:nth-child(3) {
											// 下の線が-45度回転
											top: 24px;
											left: -9px;
											width: 30px;
											position: absolute;
											transform: rotate(-40deg) translate(50%, -50%);
										}
									}
								}
							}
						}
						&:hover .hamburger__lines--line {
							background-color: map-get(mixin.$colors, "C-right-blue"); // ホバー時の色
						}
					}

					// 全画面メニューのスタイル
					.overlay-menu {
						position: fixed;
						top: 60px;
						right: 0;
						width: 100vw;
						height: 100vh;
						overflow-y: hidden;
						background-color: map-get(mixin.$colors, "C-blue");
						display: none;
						align-items: center;
						justify-content: center;
						text-align: center;
						z-index: 1000;
						box-sizing: border-box;
						.main-nav {
							display: flex;
							flex-direction: column;
							justify-content: center;
							margin: -45px 0 0;
							transition: opacity 0.5s ease, transform 0.5s ease;	
						ul {
								width: 100%;
								li {
									display: block;
									box-sizing: border-box;
									padding-bottom: 21.4px;
									.li-a {
										display: flex; // ✅ ボックス全体がクリック範囲に
										align-items: center;
										justify-content: center;
										width: 100%;
										height: 100%;
										cursor: pointer;
										opacity: 1;
										z-index: 0; // 必ず z-index のベースを設定
										position: relative;
										display: inline-block;
										@include mixin.font-settings (
											F-size18,
											F-line-height24,
											F-letter-spacing-0,
											F-family-Noto-Sans-JP,
											300,
											F-color-white);
											letter-spacing: -0.1em;
											&:hover {
												color: map-get(mixin.$colors, "C-blue");
												font-weight: 400;
											}
											&::after {
												content: '';
												position: absolute;
												top: -3px;
												left: 1px;
												width: 102%;
												height: 139%;
												background: linear-gradient(283deg, #ffffff 0%, #888888 100%);
												clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
												opacity: 0;
												transition: all 0.5s ease;
												z-index: -1; // 背景にまわす
											}
											&:hover::after {
												opacity: 1;
												z-index: -1;
											}
										}
									
										
										
										.contact-a{
											width: 191px;	
											height: 48px;
											display: flex;
											position: relative;
											justify-content: center;
											align-items: center;
											box-shadow: 2px 2px 6px #00000029;
											border-radius: 5px;		
											background-color: map-get(mixin.$colors, "C-right-blue");
											color: map-get(mixin.$colors, "C-white");
											&::after {
												content: '';
												display: inline-block;
												width: 0;
												height: 0;
												position: absolute;
												top: 21px;
												right: 18px;
												border-top: 4px solid transparent;
												border-bottom: 4px solid transparent;
												border-left: 6px solid white; // ← 右向き三角を作る
											}
											&:hover {
												border: 1.5px solid map-get(mixin.$colors, "C-blue");
												background-color: map-get(mixin.$colors, "C-gray");
												color: map-get(mixin.$colors, "C-blue");
												font-weight: 500;
												&::after {
													border-left: 6px solid map-get(mixin.$colors, "C-blue");
												}
											}
										}
								}
								li:nth-child(8) {
									padding-bottom: 30px;
								}
							}  
						}

						&.is-open {
							display: flex; // 表示
							transition: opacity 0.5s ease, transform 0.5s ease;
						}
						
					}	
				}
      }
    }
	}
}