@use "../_foundation/_mixin"as mixin;
@use "../_foundation/_base"as base;


#header {
	position: sticky;
  top: 0;
	height: 80px;
  z-index: 1000;
  background-color: map-get(mixin.$colors, "C-white");
  box-shadow: 0px 3px 6px #00000029;
  .header {
    &__inner {
      &--sp {
        display: none;
      }
      &--pc {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				padding:0 32px;
        .header-logo {
					padding:9px 0;
					&__image {
						width: 124px;
						height: 62px;
					}
				}
			
				.header-nav {
					ul {
						display: flex;
						width: 100%;
						// flex-wrap: wrap;
						justify-content: flex-start;
						align-items: center;
						li {
							margin-left: 3.0rem;
							.li-a {
								opacity: 1;
								z-index: 0; // 必ず z-index のベースを設定
								position: relative;
								display: inline-block;
								@include mixin.font-settings (
								F-size14,
								F-line-height19,
								F-letter-spacing-0,
								F-family-Noto-Sans-JP,
								400,
								F-color-black);
								&:hover {
									color: #FFFFFF;
									font-weight: 400;
								}
								&::after {
									content: '';
									position: absolute;
									top: -3px;
									left: -7px;
									width: 142%;
									height: 139%;
									background: linear-gradient(90deg, #001a4d 0%, #005a9c 100%);
									clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
									opacity: 0;
									transition: all 0.5s ease;
									z-index: -1; // 背景にまわす
								}
								&:hover::after {
									opacity: 1;
									z-index: -1;
								}
							}
							
							.contact-a{
								width: 191px;
								height: 48px;
								display: flex;
								position: relative;
								justify-content: center;
								align-items: center;
								box-shadow: 2px 2px 6px #00000029;
								border-radius: 5px;		
								background-color: map-get(mixin.$colors, "C-right-blue");
								color: map-get(mixin.$colors, "C-white");
								&::after {
									content: '';
									display: inline-block;
									width: 0;
									height: 0;
									position: absolute;
									top: 21px;
									right: 18px;
									border-top: 4px solid transparent;
									border-bottom: 4px solid transparent;
									border-left: 6px solid white; // ← 右向き三角を作る
								}
								&:hover {
									border: 1.5px solid map-get(mixin.$colors, "C-blue");
									background-color: map-get(mixin.$colors, "C-gray");
									color: map-get(mixin.$colors, "C-blue");
									font-weight: 500;
									&::after {
										border-left: 6px solid map-get(mixin.$colors, "C-blue");
									}
								}
							}
							
						}
					}
				}
      }
    }
  }
}







@include mixin.TAB2 {
  #header {
		padding: 0 24px 0 16px;
		height: 60px;
		width: 100%;
    .header {
      &__inner {
        &--pc {
          display: none;
        }

        &--sp {
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: relative;
					padding: 11px 0 12px;
					z-index: 999;
          .header-logo {
						&__image {
							max-width: 104px;
							height: 37px;
						}
					}
					.hamburger {
						width: 24px;
						height: 19px;
						cursor: pointer;
						z-index: 1001;
						&__lines {
							display: flex;
							flex-direction: column;
							gap: 7px;
							&--line {
								width: 24px;
								height: 2.1px;
								border-radius: 3px;
								background-color: map-get(mixin.$colors, "C-blue");
								transition: 0.3s ease;
							}
					}

						&.is-open {
							.hamburger {
								&__lines {
									left: -4px;
									&--line {
										&:nth-child(1) {
											// 上の線が45度回転
											top: 0;
											left: 0;
											width: 24px;
											transform: rotate(45deg) translate(50%, -50%);
										}
										&:nth-child(2) {
											// 中央の線が非表示
											opacity: 0;
										}
										&:nth-child(3) {
											// 下の線が-45度回転
											top: 0;
											left: 0;
											width: 24px;
											transform: rotate(-45deg) translate(55%, -50%);
										}
									}
								}
							}
						}
						&:hover .hamburger__lines--line {
							background-color: map-get(mixin.$colors, "C-right-blue"); // ホバー時の色
						}
					}

					// 全画面メニューのスタイル
					.overlay-menu {
						position: fixed;
						top: 60px;
						left: 0;
						right: 0;
						width: 100%;
						height: 100vh;
						background-color: map-get(mixin.$colors, "C-blue");
						display: none;
						align-items: center;
						justify-content: center;
						text-align: center;
						z-index: 1000;
						box-sizing: border-box;
						.main-nav {
							display: flex;
							flex-direction: column;
							justify-content: center;
							transition: opacity 0.5s ease, transform 0.5s ease;	
						ul {
								width: 100%;
								li {
									display: block;
									box-sizing: border-box;
									padding-bottom: 21px;
									.li-a {
										display: flex; // ✅ ボックス全体がクリック範囲に
										align-items: center;
										justify-content: center;
										width: 100%;
										height: 100%;
										cursor: pointer;
										opacity: 1;
										z-index: 0; // 必ず z-index のベースを設定
										position: relative;
										display: inline-block;
										@include mixin.font-settings (
											F-size18,
											F-line-height24,
											F-letter-spacing-0,
											F-family-Noto-Sans-JP,
											300,
											F-color-white);
											&:hover {
												color: map-get(mixin.$colors, "C-blue");
												font-weight: 400;
											}
											&::after {
												content: '';
												position: absolute;
												top: -3px;
												left: 1px;
												width: 102%;
												height: 139%;
												background: linear-gradient(283deg, #ffffff 0%, #888888 100%);
												clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
												opacity: 0;
												transition: all 0.5s ease;
												z-index: -1; // 背景にまわす
											}
											&:hover::after {
												opacity: 1;
												z-index: -1;
											}
										}
										
										.contact-a{
											width: 191px;	
											height: 48px;
											display: flex;
											position: relative;
											justify-content: center;
											align-items: center;
											box-shadow: 2px 2px 6px #00000029;
											border-radius: 5px;		
											background-color: map-get(mixin.$colors, "C-right-blue");
											color: map-get(mixin.$colors, "C-white");
											&::after {
												content: '';
												display: inline-block;
												width: 0;
												height: 0;
												position: absolute;
												top: 21px;
												right: 18px;
												border-top: 4px solid transparent;
												border-bottom: 4px solid transparent;
												border-left: 6px solid white; // ← 右向き三角を作る
											}
											&:hover {
												border: 1.5px solid map-get(mixin.$colors, "C-blue");
												background-color: map-get(mixin.$colors, "C-gray");
												color: map-get(mixin.$colors, "C-blue");
												font-weight: 500;
												&::after {
													border-left: 6px solid map-get(mixin.$colors, "C-blue");
												}
											}
										}
								
								}
							}  
						}

						&.is-open {
							display: flex; // 表示
							transition: opacity 0.5s ease, transform 0.5s ease;
						}
					
					@media screen and (max-width: 375px) {
						// 全画面メニューのスタイル
						.overlay-menu {
							position: fixed;
							top: 70px;
							left: 0;
							right: 0;
							width: 92%;
							height: 88vh;
							background-color: rgba(map-get(mixin.$colors, "C-white"), 0.8);
							backdrop-filter: blur(3px);
							-webkit-backdrop-filter: blur(3px);
							border-radius: 40px;
							display: none;
							align-items: left;
							justify-content: left;
							z-index: 1000;
							padding: 150px 4%;
							margin: 0 4%;
							box-sizing: border-box;
							.h-nav {
								transition: opacity 0.5s ease, transform 0.5s ease;
								&__ul {
									display: flex;
									flex-wrap: wrap;
									justify-content: center;
									align-items: center;
									min-width: 100%;
									width: 100%;
									gap: 15px;
									// min-height: 421px;
									height: auto; // 高さ固定せず、内容に応じて
									&--li {
										width: 100%;
										height: 32%;
										border: 1px solid map-get(mixin.$colors, "C-brown");
										border-radius: 12px;
										padding: 4% 0 ;
										display: block;
										box-sizing: border-box;
										a {
											display: flex; // ✅ ボックス全体がクリック範囲に
											align-items: center;
											justify-content: center;
											width: 100%;
											height: 100%;
											text-decoration: none;
											cursor: pointer;
											.header-icon {
												text-align: center;
												width: 150px;
												box-sizing: border-box;
												&__img {
													display: block;
													width: 32px;
													height: 32px;
													margin: -1px 54px 2px;
												}
												&__title {
													@include mixin.font-settings (
														F-size14,
														F-line-height19-2,
														F-letter-spacing-4,
														F-family-KosugiMaru,
														normal,
														F-color-brown);
														width: 100%;
													display: block;
													margin: 0 auto 4px;
												}
												&__english {
													@include mixin.font-settings (F-size10,
														F-line-height12,
														F-letter-spacing-10,
														F-family-Jost,
														900,
														F-color-brown);
														width: 100%;
														display: block;
														// margin: 0 auto;
												}
											}
										}
										// ✅ ホバー時に浮き上がるアニメーション
										&:hover {
											transform: translateY(-5px); // 5px上に移動
											box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); // 影を追加
											transition: opacity 0.5s ease, transform 0.5s ease;
										}
									}
								}  
							}

							&.is-open {
								display: flex; // 表示
								transition: opacity 0.5s ease, transform 0.5s ease;
							}
						}
					}
				}	
			}
    }
  }
}
}