@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;

#feature {
  background-color: #464646;
  padding: 41px 47px 59px 88px;
  height: 850px;
  margin: 201px 0 0;

  .feature__inner {
    position: relative;
    .section-title {
      width: 400px;
      top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-189px, 60px);
      z-index: 6;
        &__shadow {
          top: -41px;
          left: 5px;
        }
        &__main {
          position: relative;
          z-index: 6;
        }
    }

    &--sp {
      display: none;
      
    }

    &--pc {    
      .feature-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 60px;
        left: 45px;
        height: 100%;

        .feature-tabs {
          display: flex;
          flex-direction: column;
          margin: 181px 0 -8px 0px;

          .feature-tabs__tab {
            @include mixin.font-settings
            ( F-size18
            , 27
            , F-letter-spacing-1-8
            , F-family-mincho
            , normal
            , F-color-orange);
            cursor: pointer;
            margin: 0 0 60px;
            transition: background-color 2s ease;
            &:nth-child(1) {
              margin: -14px 0 58px;
              position: relative;
              &::before {
                content: 'I';
                position: absolute;
                top: 0px;
                left: -37px;
                @include mixin.font-settings
                ( F-size24
                , 39
                , 0
                , F-family-mincho
                , normal
                , F-color-orange);
              }
            }
            &:nth-child(2) {
              margin: 0 0 60px;
              position: relative;
              &::before {
                content: 'II';
                position: absolute;
                top: -1px;
                left: -40px;
                @include mixin.font-settings
                ( F-size18
                , 29
                , 0
                , F-family-mincho
                , normal
                , F-color-orange);
              }
            }
            &:nth-child(3) {
              margin: -14px 0 71px;
              position: relative;
              &::before {
                content: 'III';
                position: absolute;
                top: 7px;
                left: -47px;
                @include mixin.font-settings
                ( F-size24
                , 39
                , 0
                , F-family-mincho
                , normal
                , F-color-orange);
              }
            }
              
            &:hover,
            &.active {
              color: white;
            }
          }
        }

        .feature-content__image-slider {
          width: 35%;
          height: auto;
          position: absolute;
          top: -8%;
          left: 45%;
          transform: translate(-50%, -50%); // 完全に中央揃え
          z-index: 3;

          .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; // 親要素にフィット
            height: auto;
            opacity: 0; // 初期状態で透明
            visibility: hidden; // 非表示
            transform: translateY(100px); // 下からスタート
            transition: opacity 2s ease, transform 2s ease, visibility 0s linear 2s; // visibilityの遅延
          }

          .active-slide {
            opacity: 1; // 不透明にする
            visibility: visible; // 表示にする
            transform: translateY(0); // 元の位置に戻す
            transition: opacity 0.6s ease, transform 0.6s ease; // visibilityの遅延を無効化
          }
        }

        .feature-content__description-slider {
          width: 33%;
          height: 100%;
          position: relative;
          top: -128px;
          left: 30px;

          .description-slide {
            position: absolute; // 全スライドを重ねる
            top: -4px;
            left: -58px;
            width: 100%; // スライドを親要素にフィットさせる
            opacity: 0; // 初期状態で透明
            visibility: hidden; // 非表示にする
            transform: translateY(100px); // 下からスタート
            color: #ca7f13;
            text-align: center;
            transition: opacity 2s ease, transform 2s ease, visibility 0s linear 2s; // visibilityの遅延
              h2 {
                @include mixin.font-settings
                ( F-size18
                , F-line-height27
                , F-letter-spacing1-8
                , F-family-marcellus
                , normal
                , F-color-orange);
                margin: 0 0 48px;
                position: relative;
                &::after {
                  content: '';
                  position: absolute;
                  bottom: -25px;
                  left: 203px;
                  width: 26px;
                  height: 2px;
                  background-color: #ca7f13; /* 下線の色 */
                  z-index: 1;
                }
              }
              h3 {
                @include mixin.font-settings
                ( F-size24
                , F-line-height36
                , 2.4
                , F-family-mincho
                , normal
                , F-color-orange);
                margin: 0 12px 48px 0px;
              }
              p {
                @include mixin.font-settings
                ( F-size18
                , F-line-height36
                , F-letter-spacing1-8
                , F-family-gothic
                , normal
                , F-color-orange);
                }
          }

          .active-slide {
            opacity: 1; // 不透明にする
            visibility: visible; // 表示にする
            transform: translateY(0); // 元の位置に戻す
            transition: opacity 0.6s ease, transform 0.6s ease; // visibilityの遅延を無効化
          }
        }
      }
    }
  }
}



// 1200px
@include mixin.TAB2 {
  #feature {
    max-width: 100%;
    background-color: #464646;
    margin:  100px auto 0;
    padding: 0;
    .feature__inner {
      position: relative;
      .section-title {
        width: 300px;
        top: 50%;
        left: 50%;
        position: relative;
        transform: translate(-172px, 64px);
        z-index: 6;
          &__shadow {
            font-size: 120px;
            top: -33px;
            left: -6px;
          }
          &__main {
            font-size: 84px;
            position: relative;
            z-index: 6;
          }
      }
      
      &--pc {    
        display: none;
      }

      &--sp {
        display: block;
        .feature-content-sp {
          max-width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__image-slider {
            width: 100%;
            height: 100%;
            display: flex;
            .slick-slide {
              padding: 0 7px; // スライド間に間隔を設定
              box-sizing: border-box; // 幅計算に余白を含む
            }
        
            .image-slide {
              img {
                max-width: 100%;
                height: auto;
                object-fit: contain; // または none に変更して試す
                display: block;
                margin: 33px 0px 0px 0;
              }
            }
          }

          &__description-slider {
            text-align: center;
            color: #ca7f13;
            width: 106%;
            display: block;
            padding: 32px 30px 62px;

            .description-slide {
              width: fit-content;
              .text-with-line {
                position: relative;
                width: fit-content;
                margin: 0 auto;
              
                &::before {
                  content: '';
                  position: absolute;
                  top: 48%;
                  left: -149px;
                  width: 428%;
                  height: 1px;
                  background-color: #ca7f13; /* 下線の色 */
                  z-index: 1;
                }
              
                h2 {
                  position: relative;
                  @include mixin.font-settings
                ( F-size14
                , F-line-height27
                , F-letter-spacing1-4
                , F-family-marcellus
                , normal
                , F-color-orange);
                  margin: -1px -20px 18px 0;
                  z-index: 2;
                  background-color:  #464646;
                  padding: 0 16px;
                }
              }
              h3 {
                @include mixin.font-settings
                ( F-size18
                , F-line-height36
                , F-letter-spacing1-8
                , F-family-mincho
                , normal
                , F-color-orange);
                margin: 0 0 30px;
              }
              p {
                @include mixin.font-settings
                ( F-size14
                , F-line-height28
                , F-letter-spacing1-4
                , F-family-gothic
                , normal
                , F-color-orange);
              }
            }
          }
        }
      }
    }
  }  
}  



@include mixin.SP {
  #feature {
    .feature__inner {
      position: relative;
      .section-title {
        transform: translate(-93px, 64px);
        z-index: 6;
          &__shadow {
            font-size: 72px;
            top: -33px;
            left: -6px;
          }
          &__main {
            font-size: 48px;
            position: relative;
            z-index: 6;
          }
      }
    }
  }  
}  
