@use "../../_foundation/_mixin" as mixin;
@use "../../_foundation/_base" as base;
@use "../../_project/_archive/_archive-letter" as letter;

#letter {
  width: 100%;
  height: 100%; // 高さが必要な場合
  padding: 160px 4% 120px;
  .letter-list {
  //  @mixin で archive-letter.scssの`letter-list` を呼び出し
    @include letter.letter-list;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    // gap: 50px;
    row-gap: 30px;
    column-gap: 52px;
    margin: 0 auto 41px;
    padding: 0 ;
  }
  .btn {
    margin: 23px auto -41px;
  }
}



@include mixin.SP {
  #letter {
  width: 100%;
  height: 100%; // 高さが必要な場合
  background: url('../../assets/images/kidsland_image/bg/top-letters__bg-sp.webp') no-repeat center top;
  background-size: cover;
  padding: 160px 0 120px;
  position: relative;
  .btn {
    margin: 22px auto -39px;
  }
  }
} 