@use "../../_foundation/_mixin" as mixin;
@use "../../_foundation/_base" as base;
@use "../../_project/_archive/_archive-letter" as letter;

#letter {
  width: 100%;
  height: 100%; // 高さが必要な場合
  padding: 160px 4% 120px;
  // .title-icon {
  //   position: absolute;
  //   top: 30px;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }
  .letter-list {
  //  @mixin で archive-letter.scssの`letter-list` を呼び出し
    @include letter.letter-list;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin: 0 auto 62px;
    padding: 0 ;
  }
  .btn {
    margin: 0 auto  ;
  }
}



@include mixin.SP {
  #letter {
  width: 100%;
  height: 100%; // 高さが必要な場合
  background: url('../../assets/images/kidsland_image/bg/top-letters__bg-sp.webp') no-repeat center top;
  background-size: cover;
  padding: 160px 0 120px;
  position: relative;
  .btn {
    margin: 42px auto 0 ;
  }
  }
} 