@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;

#mainvisual {
  width: 100%;
  height: 95.4vh;
  padding:0 4%;
  margin: 0 auto ;
    .mainvisual {
      position: absolute;
      &__image {
        min-width: 96.99%;
        width: 97%;
        min-height: 62.2%;
        height: 59%;
        margin: 0 auto;
        background: url(../../assets/images/kidsland_image/FV.png) no-repeat center bottom;
        background-size: cover;
        border-radius: 120px;
        position: relative;
        top: clamp(100px, 14.3vw, 250px);
        z-index: 1;
        &--item {
          width: 516px;
          height: 413px;
          background: url(../../assets/images/kidsland_image/design-parts/FV-parts-pc.png) no-repeat center center ;
          background-size: contain;

          mask-image: url(../../assets/images/kidsland_image/design-parts/FV-parts-pc.png);/*マスク用画像*/
          mask-repeat: no-repeat;
          mask-size:841px 477px; /* 横幅 縦幅 */
          -webkit-mask-image: url(../../assets/images/kidsland_image/design-parts/FV-parts-pc.png);
          -webkit-mask-repeat: no-repeat;
          mask-position: center center;
          // filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.3));
          // box-shadow: 30px 30px 100px rgba(0, 0, 0, 0.3); /* 内側の上だけ */
          filter: drop-shadow(0px -10px 50px rgba(0, 0, 0, 0.3));
          /* drop-shadow */
          filter: drop-shadow(1.8px 5px 1.7px rgba(0, 0, 0, 0.3)) 
                  drop-shadow(-1px -2.5px 4px rgb(333, 469, 459));
          /* ✅ フィルターで輪郭ぼかし */
          // filter: blur(5px);
          position: relative;
          position: absolute;
          bottom: 3%;
          left: 3%;
          .mainvisual-text {
            @include mixin.font-settings (
              F-size40,
              F-line-height80,
              F-letter-spacing-10,
              F-family-YuseiMagic,
              bold,
              F-color-brown);
            position: absolute;
            top: 33%;
            left: 12%;
            // transition: opacity 1s,visibility 1s, transform 1s;
          }
        }

        // カスタム投稿タイプ 'info'
        .info-post {
          display: block;
          width: 240px;
          height: 120px;
          border-radius: 20px;
          background-color: map-get(mixin.$colors, "C-yellow");
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5); /* ✅ ドロップシャドウを再現 */
          padding: 16px 16px 18px 16px;
          position: absolute;
          bottom: 32px;
          right: -48px;
          pointer-events: auto;
          z-index: 3;
          &__title {
            @include mixin.font-settings (
              F-size20,
              F-line-height20,
              F-letter-spacing-10,
              F-family-KosugiMaru, 
              400, 
              F-color-brown);
          }
          &__single-title{
            @include mixin.font-settings (
              F-size14,
              F-line-height21,
              F-letter-spacing-10,
              F-family-KosugiMaru, 
              400, 
              F-color-brown);
              margin: 8px 0 4px
          }
          &__single-date {
            @include mixin.font-settings (
              F-size12,
              F-line-height12,
              F-letter-spacing-10,
              F-family-KosugiMaru, 
              400, 
              F-color-brown);
              display: block;
              text-align: right;
          }
          &:hover {
            transform: translateY(-5px); // 5px上に移動
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); // 影を追加
            transition: opacity 1 0.5s ease, transform 0.5s ease;
          }
        }
      }    
    }
}



@include mixin.TAB2 {
  #mainvisual {
    width: 100%;
    height: 100vh;
    padding:0 4%;
      .mainvisual {
        position: absolute;
        &__image {
          min-width: 96.99%;
          width: 97%;
          min-height: 57.5%;
          height: 59%;
          margin: 0 auto;
          background: url(../../assets/images/kidsland_image/FV.png) no-repeat center top;
          background-size: cover;
          border-radius: 120px;
          position: relative;
          top: clamp(-57px, -13.7vw, 13px);
          z-index: 1;
          &--item {
            width: 47vw;
            height: 44vh;
            background: url(../../assets/images/kidsland_image/design-parts/FV-parts-pc.png) no-repeat center center ;
            background-size: contain;
  
            mask-image: url(../../assets/images/kidsland_image/design-parts/FV-parts-pc.png);/*マスク用画像*/
            mask-repeat: no-repeat;
            mask-size:841px 477px; /* 横幅 縦幅 */
            -webkit-mask-image: url(../../assets/images/kidsland_image/design-parts/FV-parts-pc.png);
            -webkit-mask-repeat: no-repeat;
            mask-position: center center;
            filter: drop-shadow(0px -10px 50px rgba(0, 0, 0, 0.3));
            /* drop-shadow */
            filter: drop-shadow(1.8px 5px 1.7px rgba(0, 0, 0, 0.3)) 
                    drop-shadow(-1px -2.5px 4px rgb(333, 469, 459));
            position: relative;
            position: absolute;
            top: 4%;
            left: 2%;
            .mainvisual-text {
              font-size: 3.5vw;
              letter-spacing: 0.1em;
              line-height: 2;
              font-family: "Yusei Magic";
              font-weight: 300;
              position: absolute;
              width: 83%;
              top: 34.1%;
              left: 15%;
              // transition: opacity 1s,visibility 1s, transform 1s;
            }
          }
      }
    }
  }
}


@include mixin.SP {
  #mainvisual {
    width: 100%;
    height: 100vh;
    padding:0 10%;
      .mainvisual {
        position: absolute;
        &__image {
          width: 100%;
          height: 540px;
          margin: 0 auto;
          background: url(../../assets/images/kidsland_image/FV-sp.jpg) no-repeat 50% 96%;
          background-size: cover; // コンテナにフィットするようにリサイズ
          border-radius: 60px;
          position: relative;
          top: -25px;  
          z-index: 1;
          &--item {
            width: 90.67%;
            height: 72.67%;
            background: url(../../assets/images/kidsland_image/design-parts/FV-parts-pc.png) no-repeat center center ;
            background-size: contain;
  
            mask-image: url(../../assets/images/kidsland_image/design-parts/FV-parts-pc.png);/*マスク用画像*/
            mask-repeat: no-repeat;
            mask-size:841px 477px; /* 横幅 縦幅 */
            -webkit-mask-image: url(../../assets/images/kidsland_image/design-parts/FV-parts-pc.png);
            -webkit-mask-repeat: no-repeat;
            mask-position: center center;
            filter: drop-shadow(0px -10px 50px rgba(0, 0, 0, 0.3));
            /* drop-shadow */
            filter: drop-shadow(1.8px 5px 1.7px rgba(0, 0, 0, 0.3)) 
                    drop-shadow(-1px -2.5px 4px rgb(333, 469, 459));
            position: relative;
            position: absolute;
            top: -59px;
            left: 13px;
            .mainvisual-text {
              font-size: 6.4vw;
              letter-spacing: 0.1em;
              line-height: 2;
              font-family: "Yusei Magic";
              font-weight: 300;
              position: absolute;
              width: 100%;
              top: 38%;
              left: 8%;
            }
          }

           // カスタム投稿タイプ 'info'
          .info-post {
            display: block;
            max-width: 240px;
            width: 100%;
            height: 110px;
            border-radius: 20px;
            background-color: map-get(mixin.$colors, "C-yellow");
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5); /* ✅ ドロップシャドウを再現 */
            padding: 16px 16px 18px 16px;
            position: absolute;
            bottom: 25px;
            left: -18px;
            pointer-events: auto;
            z-index: 4;
            &__title {
              @include mixin.font-settings (
                F-size16,
                F-line-height16,
                F-letter-spacing-10,
                F-family-KosugiMaru, 
                400, 
                F-color-brown);
            }
            &__single-title{
              @include mixin.font-settings (
                F-size12,
                F-line-height18,
                F-letter-spacing-10,
                F-family-KosugiMaru, 
                400, 
                F-color-brown);
                margin: 8px 0 4px
            }
            &__single-date {
              @include mixin.font-settings (
                F-size10,
                F-line-height10,
                F-letter-spacing-10,
                F-family-KosugiMaru, 
                400, 
                F-color-brown);
                display: block;
                text-align: right;
            }
            &:hover {
              transform: translateY(-5px); // 5px上に移動
              box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); // 影を追加
              transition: opacity 1 0.5s ease, transform 0.5s ease;
            }
          }
        }
      }
  }
  
}  