@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;



#prise-menu {
  margin: 252px auto 120.5px;
  padding: 0 8.33%;
  .prise-menu {
    &__inner {
      height: 470px;
      position: relative;
      .section-title {
        margin: 0 0 60.5px;
      }
      .button-grid {
        width: 800px;
        display: grid;
        justify-content: right;
        grid-template-columns: 1fr 1fr; /* 2列のレイアウト */
        grid-template-rows: auto auto auto; /* 高さは自動調整 */
        gap: 0px; /* 要素間のスペース */
        position: absolute; /* 絶対配置で自由に動かせる */
        bottom: -65px;
        right: -415px;
        transform: translate(-50%, -50%); /* 中央に移動可能 */
        // margin: 0 0 0 auto;
        @media (min-width: 501px) {
        /* PCサイズ */
        grid-template-areas:
          "body v-line"
          "custom set"
          "all null";
        }

        @media (max-width: 900px) {
          /* SPサイズは縦積み */
          grid-template-areas:
          "body"
          "v-line"
          "set"
          "custom"
          "all";
        }

        .button-item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 12.5px 26px 12.5px 12.5px ;
          text-align: left;
          transition: .3s;
          border: none; /* 縦線がボーダー由来の場合削除 */
          &:hover {
            background-color: #ca7f13;
            transition: .3s;
            /* ✅ テキストの色を変更 */
            .button-item__title,
            span,
            .komoji 
            .button-item__arrow {
              color: #f7f9f6; /* テキストと同じ色に */
              transition: 0.3s;
            }
          }
        
          &__title {
            @include mixin.font-settings
                ( F-size48
                , F-line-height14
                , 1.92
                , F-family-marcellus
                , normal
                , F-color-orange);
                margin: 16px 0 0;
            span {
              @include mixin.font-settings
                ( F-size14
                , F-line-height14
                , F-letter-spacing-0-56
                , F-family-mincho
                , normal
                , F-color-orange);
              margin: 0 0 0 16px;
            }
            .komoji {
              @include mixin.font-settings
                ( F-size48
                , F-line-height14
                , 1.92
                , F-family-marcellus
                , normal
                , F-color-orange);
              text-transform: lowercase;
              margin: 0 ;
            }
          }

          &__arrow {
            font-size: 24px;
            width: 15px;
            color: #ca7f13;

          }

          /* 個別のグリッド配置 */
          &:nth-child(1) {
            grid-area: body; /* Body */
            border-right: 1px solid #CA7F13;
            border-bottom: 1px solid #CA7F13;
          }
          &:nth-child(2) {
            grid-area: v-line; /* V-Line */
            border-bottom: 1px solid #CA7F13;
            // border-right: none;
          }
          &:nth-child(3) {
            grid-area: set; /* Set を中央左に */
            border-bottom: 1px solid #CA7F13;
            border-right: none;
          }
          &:nth-child(4) {
            grid-area: custom; /* Custom を中央右に */
            border-right: 1px solid #CA7F13;
            border-bottom: 1px solid #CA7F13;
          }
          &:nth-child(5) {
            grid-area: all; /* All を最下段中央に */
            border-right: 1px solid #CA7F13;
            border-bottom: none;
          }
        }
      }
    }
  }
}





@include mixin.TAB1 {
  #prise-menu {
    margin: 107px auto 98.5px;
    padding: 0 4% 0 8%;
    .prise-menu {
      &__inner {
        height: 560px;
        position: relative;
        .section-title {
          width: 300px;
          top: 50%;
          left: 50%;
          position: relative;
          transform: translate(-157px, -237px);
            &__shadow {
              width: 370px;
              top: -33px;
              left: -6px;
            }
        
        }
        .button-grid {
          width: 100%;
          display: grid;
          justify-content: right;
          grid-template-columns: 1fr; /* SPサイズでは1列 */
          position: absolute; /* 絶対配置で自由に動かせる */
          bottom: -31%;
          right: -50%;
          transform: translate(-50%, -50%); /* 中央に移動可能 */
          margin: 0  auto;

          .button-item {
            // position: relative;
            display: flex;
            align-items: center;
            padding: 21px 17.5px 13px 4px;
            font-family: 'Yu Mincho', serif;
            color: #ca7f13;
            text-align: left;
            transition: .3s;
            border: none; /* 縦線がボーダー由来の場合削除 */
            &__title {
              @include mixin.font-settings
              ( F-size36
              , F-line-height14
              , 1.44
              , F-family-marcellus
              , normal
              , F-color-orange);
              margin: 16px 0 0;
              .komoji {
                @include mixin.font-settings
                ( F-size36
                , F-line-height14
                , 1.44
                , F-family-marcellus
                , normal
                , F-color-orange);
                text-transform: lowercase;
                margin: 0 ;
              }
            }

            &__arrow {
              font-size: 24px;
              width: 15px;
              color: #ca7f13;
            }

            /* 個別のグリッド配置 */
            &:nth-child(1) {
              grid-area: body; /* Body */
              border-right: none;
              border-bottom: 1px solid #CA7F13;
              padding:0px 17.5px 22px 4px;
            }
            &:nth-child(2) {
              grid-area: v-line; /* V-Line */
              border-bottom: 1px solid #CA7F13;
              // border-right: none;
              padding: 21px 17.5px 12px 4px;
            }
            &:nth-child(3) {
              grid-area: set; /* Set を中央左に */
              border-bottom: 1px solid #CA7F13;
              border-right: none;
              padding:  24px 16.5px 12px 11px;
            }
            &:nth-child(4) {
              grid-area: custom; /* Custom を中央右に */
              border-right: none;
              border-bottom: 1px solid #CA7F13;
              padding: 25px 17.5px 9px 4px;
            }
            &:nth-child(5) {
              grid-area: all; /* All を最下段中央に */
              border-right: none;
              border-bottom: none;
              padding: 27px 17.5px 3px 4px;
            }
          }
        }
      }
    }
  }
}



@include mixin.SP {
  #prise-menu {
    .prise-menu {
      &__inner {
        .section-title {
          transform: translate(-157px, -237px);
          z-index: 6;
            &__shadow {
              font-size: 72px;
            }
            &__main {
              font-size: 48px;
            }
        }
      }
    }
  }
}