@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;

#recruit {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: url('../../assets/images/kidsland_image/bg/saiyo-bg-pc.webp') no-repeat center top;
  background-size: cover;
  padding: 80px 12.5% 71px;
  .recruit {
    &__inner {
      width: 100%;
      height: 100%;
      background-color: rgba(map-get(mixin.$colors, "C-white"), 0.8);
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
      border-radius: 30px;
      padding: 64px 4%;
      &--text {
        @include mixin.font-settings (
          F-size18,
          F-line-height36,
          F-letter-spacing-10,
          F-family-KosugiMaru, 
          400, 
          F-color-brown);
          text-align: center;
          margin: 48px auto 39px;
      }
      &--bottom-flex {
        display: flex;
        justify-content: center;
        gap: 36px;
        .bottom-recruit {
          background-color: map-get(mixin.$colors, "C-light-pink");
        }
        .bottom-contact{
          background-color: map-get(mixin.$colors, "C-yellow");
        }
        .btn:hover {
          background-color: map-get(mixin.$colors, "C-brown");
        }
      }
    }
  }
}


@include mixin.SP {
  #recruit {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url('../../assets/images/kidsland_image/bg/saiyo-bg-sp.webp') no-repeat center top;
    background-size: cover;
    padding: 75px 4% ;
    .recruit {
      &__inner {
        width: 100%;
        height: 100%;
        background-color: rgba(map-get(mixin.$colors, "C-white"), 0.8);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border-radius: 30px;
        padding: 64px 8%;
        &--text {
          @include mixin.font-settings (
            F-size18,
            F-line-height36,
            F-letter-spacing-10,
            F-family-KosugiMaru, 
            400, 
            F-color-brown);
            text-align: center;
            margin: 32px auto;
        }
        &--bottom-flex {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap:24px;
          // margin: 24px auto 0 ;
          .btn {
            max-width: 240px;
            height: 60px;
            &__text {
              @include mixin.font-settings
            ( F-size18
            , F-line-height18
            , F-letter-spacing-10
            , F-family-KosugiMaru
            , 400
            , F-color-brown);
            margin: 0 0 0 0;
            }
            i {
              top: 18px;
              right: 20.1px;
              font-size: 24px;
            }
          }
          .bottom-recruit {
            background-color: map-get(mixin.$colors, "C-light-pink");
          }

          .bottom-contact{
            background-color: map-get(mixin.$colors, "C-yellow");
          }
          .btn:hover {
            background-color: map-get(mixin.$colors, "C-brown");
          }
        }
      }
    }
  }
  
}