@use "../../_foundation/_mixin" as mixin;
@use "../../_foundation/_base" as base;

#recruit {
	position: relative;
	width: 100%;
	height: 654px; // 高さが必要な場合
	background: url('../../assets/images/a-tech3_image/top-recruit-bg-pc.webp') no-repeat ;
	background-size: cover;
	z-index: 1;
	bottom: 0;
	padding: 106px 2.78% 70px 16.68%;
	.recruit-bg {
		width: 228px;	
    height: 449px;
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		background-color: #A8AEC3;
		clip-path: polygon(100% 0%, 0 0, 0 100%);
	}
	.recruit {
		&__inner-sp {
			display: none;
		}
		&__inner-pc {
			max-width: 1160px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			.recruit-textcontent {
				width: 50%;
				.section-title {
					margin: 0px 0 0px 0;
					&__eng {
						margin: 3px 0px 0 3px;
					}
					&__ja {
						margin: 5px 0px 0 21px;
					}
				}
				&__subtitle {
					margin: 18px 0 0px 0;
					@include mixin.font-settings (
						F-size32,
						F-line-height46,
						F-letter-spacing-1-6,
						F-family-Noto-Sans-JP,
						400,
						F-color-black);
						font-size: clamp(20px, 2.2vw, 32px);
				}
				&__text {
					margin: 29px 0 37px 0px;
					@include mixin.font-settings (
						F-size16,
						F-line-height32,
						F-letter-spacing-0-8,
						F-family-Noto-Sans-JP,
						500,
						F-color-black);
						font-size: clamp(14px, 1.2vw, 16px);
				}
				.slanted-svg-button {
					margin:  0px auto 83px 0;
				}
			}
			
			.recruit-imagecontent {
				width: 50%;
				height: 100%;
				position: relative;
				top: -31px;
				right: -22px;
				&__image {
					width: 92.9%;
					aspect-ratio: 556 / 505;
					position: absolute;
					z-index: 2;	
				}	
				&__bg {
					width: 94.9%;
					aspect-ratio: 556 / 497;
					background-color: map-get(mixin.$colors, "C-blue");
					-webkit-clip-path: polygon(27% -5%, 100% 0%, 80% 100%, 2% 100%);
					clip-path: polygon(27% 0.7%, 100% 0.6%, 78.8% 102%, 2.8% 100.2%);
					position: relative;
					top: 18px;
					right: -8px;
					z-index: 1;
				}
			}
		}
	}
}

@include mixin.TAB1 {
	#recruit {
		position: relative;
		width: 100%;
		height: 100%; // 高さが必要な場合
		background: url('../../assets/images/a-tech3_image/top-recruit-bg-sp.webp') no-repeat ;
		background-size: cover;
		background-position: center; // ✅ 上寄りに表示
		z-index: 1;
		bottom: 0;
		padding: 32px 6.4% 50px;
		overflow: hidden;
		.recruit-bg {
			display: none;
		}
		.recruit {
			&__inner-pc {
				display: none;
			}
			&__inner-sp {
				display: block;
				.recruit-textcontent {
					&__subtitle {
						@include mixin.font-settings (
							F-size24,
							F-line-height35,
							F-letter-spacing-1-2,
							F-family-Noto-Sans-JP,
							400,
							F-color-black);
							font-size: clamp(16px, 6.4vw, 24px);
					}
					&__text {
						margin: 16px 0 306px;
						@include mixin.font-settings (
							F-size16,
							F-line-height32,
							F-letter-spacing-0-8,
							F-family-Noto-Sans-JP,
							500,
							F-color-black);
							font-size: clamp(14px, 4.27vw, 16px);
					}
				}
				
				.recruit-image-box {
					position: relative;	
					position: absolute;
					top: 375px;
					right: 188px;
					width: 100%;
					max-width: 278px;
					height: 140px;
					&__image {
						position: absolute;
						width: 100%;
						max-width: 368px;
						height: 165px;
						top: 5px;
						left: 62px;
						object-fit: cover;
						clip-path: polygon(24% 0%, 98% 0%, 78% 100%, 0 100%);
						object-position: top;
						z-index: 2; 
					}
					&__bg {
						position: absolute;
						width: 100%;
						max-width: 368px;
						height: 165px;
						top: 11px;
						left: 71px;
						background-color: #141853;
						z-index: 1;
						opacity: 1;
						clip-path: polygon(24% 0%, 98% 0%, 78% 100%, 0 100%);
					}
				}
				
				
				.slanted-svg-button {
					margin: 50px auto 0;
				}
			}
		}
	}
}	



@include mixin.SP {
	#recruit {
		position: relative;
		width: 100%;
		height: 100%; // 高さが必要な場合
		background: url('../../assets/images/a-tech3_image/top-recruit-bg-sp.webp') no-repeat ;
		background-size: cover;
		background-position:  top; // ✅ 上寄りに表示
		z-index: 1;
		bottom: 0;
		padding: 32px 6.4% 41px;
		overflow: hidden;
		.recruit-bg {
			display: none;
		}
		.recruit {
			&__inner-pc {
				display: none;
			}
			&__inner-sp {
				display: block;
				.recruit-textcontent {
					&__subtitle {
						margin: 3px 0 15px;
						@include mixin.font-settings (
							F-size24,
							F-line-height35,
							F-letter-spacing-1-2,
							F-family-Noto-Sans-JP,
							400,
							F-color-black);
							font-size: clamp(16px, 6.4vw, 24px);
					}
					&__text {
						margin: 16px 0 227px;
						@include mixin.font-settings (
							F-size16,
							F-line-height32,
							F-letter-spacing-0-8,
							F-family-Noto-Sans-JP,
							500,
							F-color-black);
							font-size: clamp(14px, 4.27vw, 16px);
							line-height: 1.8;
					}
				}
				
				.recruit-image-box {
					position: relative;	
					position: absolute;
					top: 399px;
					right: 30px;
					width: 100%;
					max-width: 271px;
					height: 140px;
					&__image {
						position: absolute;
						width: 100%;
						max-width: 249px;
						height: 140px;
						top: 5px;
						left: 62px;
						object-fit: cover;
						clip-path: polygon(24% 0%, 98% 0%, 78% 100%, 0 100%);
						object-position: top;
						z-index: 2; 
					}
					&__bg {
						position: absolute;
						width: 100%;
						max-width: 249px;
						height: 140px;
						top: 11px;
						left: 71px;
						background-color: #141853;
						z-index: 1;
						opacity: 1;
						clip-path: polygon(24% 0%, 98% 0%, 78% 100%, 0 100%);
					}
				}
				
				
				.slanted-svg-button {
					margin: 42px auto 0px;
				}
			}
		}
	}
}