@use "../../_foundation/mixin" as mixin;
@use "../../_foundation/base" as base;

#news {
	padding: 107px 4.6% 112px;
	.news__inner {
		max-width: 960px;
		width: 100%;
		margin: 0 auto;
		//【h3セクションタイトル】
		.section-title {
			display: flex;
			align-items: center;
			margin: 7px 0 9.7px 9px;
			&__ja {
				margin: 4px 0px 0 12px; 
				letter-spacing: -0.1em;
			}
		}
			
	}
		.news-list {
			// 投稿リストのデザイン
			margin: 0 ;
			.news-card {
				display: block;
				transition: transform 0.3s ease, box-shadow 0.3s ease;
				text-decoration: none;
				max-width: 960px;
				width: 100%;
				padding: 0;
				margin: 0 auto;
				&:hover {
					transform: translateY(-5px);
				}
				&__inner{
					display: flex;
					padding: 0px 0 12px 0;
					margin: 0px auto 33px;
					align-items: flex-start;
					border-bottom:1.5px solid map-get(mixin.$colors, "C-black");	
					.textarea {
						width: 100%;
						padding: 0;
						&__news-date {
							@include mixin.font-settings (
								F-size14,
								F-line-height27,
								F-letter-spacing-1-12,
								F-family-Noto-Sans-JP,
								bold,
								F-color-blue);
								padding: 0;
								margin: 0px 0 7px;
								display: block;
						}
						&__news-title {
							@include mixin.font-settings (
								F-size16,
								F-line-height32,
								F-letter-spacing-0-8,
								F-family-Noto-Sans-JP,
								500,
								F-color-black);
								margin: 0 ;
						}
					}
				}
				
			}
		}
		.slanted-svg-button {
			margin: 3px 4px 0px auto;
		}
	}






@include mixin.SP {
	#news {
		padding: 11px 5.2% 36px;
		.news__inner {
			max-width: 960px;
			width: 100%;
			margin: 0 auto;
			//【h3セクションタイトル】
			.section-title {
				display: flex;
				align-items: baseline;
					margin: 19px 0 19px 6px;
				&__ja {
					margin-left: 18px;;
				}
			}
				
			.news-list {
				// 投稿リストのデザイン
				.news-card {
					display: block;
					transition: transform 0.3s ease, box-shadow 0.3s ease;
					text-decoration: none;
					max-width: 960px;
					width: 100%;
					padding: 0;
					margin: 0 auto;
					&:hover {
						transform: translateY(-5px);
					}
					&__inner{
						display: flex;
						padding: 0px 0 22px 0;
						margin: 4px auto 34px;
						align-items: flex-start;
						border-bottom:1.5px solid map-get(mixin.$colors, "C-black");	
						.textarea {
							width: 100%;
							padding: 0;
							margin: -7px 0 23px;
							&__news-date {
								@include mixin.font-settings (
									F-size14,
									F-line-height27,
									F-letter-spacing-1-12,
									F-family-Noto-Sans-JP,
									bold,
									F-color-blue);
									padding: 0;
									margin: 0px 0 8px;
									display: block;
							}
							&__news-title {
								@include mixin.font-settings (
									F-size16,
									F-line-height32,
									F-letter-spacing-0-8,
									F-family-Noto-Sans-JP,
									500,
									F-color-black);
									margin: 0 ;
							}
						}
					}
					
				}
			}
			.slanted-svg-button {
				margin: -7px auto 6px;
				.button-text {
					padding: 0px 37px 0 0px;
				}
				.arrows {
					top: 10px;
					right: 71px;			
				}
			}
		}
	}  
	
}	