@use "../../_foundation/mixin" as mixin;
@use "../../_foundation/base" as base;

#welcome {
  text-align: center;
  padding: 0 10%;
  .welcome {
    &__inner {
      width: 100%;
      &--text {
        @include mixin.font-settings (
          F-size18,
          F-line-height36,
          F-letter-spacing-20,
          F-family-KosugiMaru, 
          400, 
          F-color-brown);
      }
      .t-top {
        margin: 64px 0 16px;
      }
    }
  }
}

@include mixin.TAB2 {
  #welcome {
    text-align: center;
    padding: 0 8.67%;
    margin: -400px 0 0;
  }  
}




@include mixin.SP {
  #welcome {
    text-align: center;
    padding: 0 8.67%;
    margin: 140px 0 0;
    .welcome {
      &__inner {
        width: 100%;
        &--text {
          @include mixin.font-settings (
            F-size14,
            F-line-height28,
            F-letter-spacing-20,
            F-family-KosugiMaru, 
            400, 
            F-color-brown);
        }
        .t-top {
          margin: 47px 0 30px;
        }
      }
    }
  }
}  