@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;


#archive-info {
	margin: -11px auto 0;
	padding: 0 4%;
	.archive-info {
		&__inner {	
		.filter-buttons {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 6px;
			margin: 0 0 64px;
			.filter-button {
				@include mixin.font-settings (
					F-size16,
					F-line-height19-2,
					F-letter-spacing-10,
					F-family-KosugiMaru,
					normal,
					F-color-pink);
					border-radius: 8px;
					padding: 8.5px 16px;
					text-align: center;
					background-color: map-get(mixin.$colors, "C-white");
					border: 1px solid map-get(mixin.$colors, "C-pink");
					cursor: pointer;
					transition: all 0.3s ease;
					// border: 2px solid transparent;
					cursor: pointer;
					transition: all 0.3s ease;
				&:hover {
					color:map-get(mixin.$colors, "C-white");
					background-color: map-get(mixin.$colors, "C-pink");
				}
			
				&.active {
					color:map-get(mixin.$colors, "C-white");
					background-color: map-get(mixin.$colors, "C-pink");
				}
			}
		}
		
		.info-list {
			// 投稿リストのデザイン
			.info-card {
				display: block;
				transition: transform 0.3s ease, box-shadow 0.3s ease;
				text-decoration: none;
				max-width: 1080px;
				width: 100%;
				padding: 0;
				margin: 0 auto;
				&:hover {
					transform: translateY(-5px);
				}
				&__inner{
					display: flex;
					padding: 0 0 20px 0;
					margin: 0px auto 34px;
					align-items: flex-start;
					border-bottom:1.5px solid map-get(mixin.$colors, "C-black");
					&--flex {
						display: flex;	
						align-items: flex-end;
						.category-icon{
							width: 120px;
							height: 120px; 
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							border-radius: 12px;
							background-color: black;	
							.category-image {
								width: 48px;
								height: 48px; // 高さが必要な場合
								background-size: cover;
							}
							.category {
								@include mixin.font-settings (
									F-size18,
									F-line-height27,
									F-letter-spacing-0,
									F-family-KosugiMaru,
									normal,
									F-color-brown);
									margin: 8px 0 0;
							}
						}
						.post-date {
							display: none;
							@include mixin.font-settings (
								F-size16,
								F-line-height24,
								F-letter-spacing-4,
								F-family-KosugiMaru,
								normal,
								F-color-black);
								padding: 0 0 12px;
								margin: 0;
						}
					}
					
					
					.textarea {
						width: 100%;
						padding: 12px 0;
						margin: 0 0 0 24px;
						&__post-date {
							@include mixin.font-settings (
								F-size16,
								F-line-height24,
								F-letter-spacing-4,
								F-family-KosugiMaru,
								normal,
								F-color-black);
								padding: 0 ;
								margin: 0px 0 10px;
								display: block;
						}
						&__info-title {
							@include mixin.font-settings (
								F-size20,
								F-line-height30,
								F-letter-spacing-4,
								F-family-KosugiMaru,
								normal,
								F-color-brown);
								margin: 0 0 12px;
						}
						&__paragraph {
							@include mixin.font-settings (
								F-size18,
								F-line-height27,
								F-letter-spacing-0,
								F-family-KosugiMaru,
								normal,
								F-color-black);
						}
					}
				}
				
			}
			.pagination {
				margin: -5px auto 121px;
			}
			}
		}	
	}
}




@include mixin.TAB1 {
	#archive-info {
		margin: 0px auto 0;
		.archive-info {
			&__inner {	
			.filter-buttons {
				display: flex;
				justify-content: flex-start;
				gap: 5px;
        padding: 3px 4% 0px;
        margin: 8px 0 34px;
				.filter-button {
					@include mixin.font-settings (
						F-size16,
						F-line-height19-2,
						F-letter-spacing-10,
						F-family-KosugiMaru,
						normal,
						F-color-pink);
						border-radius: 8px;
						padding: 8.5px 16px;
						text-align: center;
						background-color: map-get(mixin.$colors, "C-white");
						border: 1px solid map-get(mixin.$colors, "C-pink");
						cursor: pointer;
						transition: all 0.3s ease;
						// border: 2px solid transparent;
						cursor: pointer;
						transition: all 0.3s ease;
							&:hover {
								color:map-get(mixin.$colors, "C-white");
								background-color: map-get(mixin.$colors, "C-pink");
							}
						
							&.active {
								color:map-get(mixin.$colors, "C-white");
								background-color: map-get(mixin.$colors, "C-pink");
							}
				}
			}
			
			.info-list {
				// 投稿リストのデザイン
				.info-card {
					display: block;
					transition: transform 0.3s ease, box-shadow 0.3s ease;
					text-decoration: none;
					max-width: 1080px;
					width: 100%;
					padding: 0 ;
					margin: 0 auto;
					&:hover {
						transform: translateY(-5px);
					}
					&__inner{
						display: flex;
						flex-direction: column;
						padding: 0 0 23px 0;
						margin: 0 auto 42px;
						border-bottom:1.5px solid map-get(mixin.$colors, "C-black");
						&--flex {
							display: flex;	
							align-items: flex-end;
							.category-icon{
								width: 72px;
								height: 72px; 
								display: flex;
								flex-direction: column;
								align-items: center;
								justify-content: center;
								border-radius: 7.2px;
								.category-image {
									width: 28.8px;
									height: 28.8px; // 高さが必要な場合
									background-size: cover;
								}
								.category {
									@include mixin.font-settings (
										F-size10-8,
										F-line-height16-2,
										F-letter-spacing-0,
										F-family-KosugiMaru,
										normal,
										F-color-brown);
										margin: 5px 0 0;
								}
							}
							.post-date {
								display: block;
								@include mixin.font-settings (
									F-size14,
									F-line-height21,
									F-letter-spacing-4,
									F-family-KosugiMaru,
									normal,
									F-color-black);
									padding: 0 0 0 10px;
							}
						}
						
						.textarea {
							padding: 12px 0;
							margin: 0;
							&__post-date {
								display: none;
								@include mixin.font-settings (
									F-size14,
									F-line-height21,
									F-letter-spacing-4,
									F-family-KosugiMaru,
									normal,
									F-color-black);
									padding: 0 0 12px;
							}
							&__info-title {
								@include mixin.font-settings (
									F-size18,
									F-line-height27,
									F-letter-spacing-4,
									F-family-KosugiMaru,
									normal,
									F-color-brown);
									margin: 0 0 12px;
							}
							&__paragraph {
								@include mixin.font-settings (
									F-size14,
									F-line-height21,
									F-letter-spacing-4,
									F-family-KosugiMaru,
									normal,
									F-color-black);
							}
						}
					}
					
				}
				.pagination {
					margin: 32px auto 80px;
					&__inner {
						display: flex;
						width: 150px;
						margin: 0 auto;
						a, span {
							display: flex;
							justify-content: center;
							align-items: center;
							margin: 0 auto;
							width: 36px; /* ボタンの大きさ */
							height: 36px;
							border-radius: 8px; /* 丸い形 */
							@include mixin.font-settings (
								F-size14,
								F-line-height16-8,
								F-letter-spacing-10,
								F-family-KosugiMaru,
								normal,
								F-color-pink);
							text-decoration: none;
							padding: 0 0 0 0;
							background:map-get(mixin.$colors, "C-white"); /* 背景色 */
							border: 1px solid map-get(mixin.$colors, "C-pink"); /* 枠線 */
							transition: 0.3s ease;
							i {
								font-size: 11px;
							}
							&:hover {
								opacity: 1;
								transition: all 0.3s ease;
								background: map-get(mixin.$colors, "C-pink");
								color: map-get(mixin.$colors, "C-white");
							}
						}
						.current {
								background: map-get(mixin.$colors, "C-pink");
								color: map-get(mixin.$colors, "C-white");
								border: none;
						}
					}
				}
			}
		}
	}
}
}	