@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;


// タブ切り替えエリア
.tab-list {
	// position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 8px;
	// padding: 0 ;
	// top: 0 ;
	// left: 0;
	&__item {
		@include mixin.font-settings (
		F-size16,
		F-line-height19-2,
		F-letter-spacing-10,
		F-family-KosugiMaru,
		normal,
		F-color-pink);
		background-color: map-get(mixin.$colors, "C-white");
		border: 1px solid map-get(mixin.$colors, "C-pink");
		border-bottom:none ;
		text-align: center;
		padding: 8px 18px 4px;
		border-radius:12px 12px 0 0;
		width: 150px;
		// border: 2px solid transparent;
		cursor: pointer;
		transition: all 0.3s ease;
		&.is-btn-active {
			text-align: center;
			background-color: map-get(mixin.$colors, "C-pink");
			@include mixin.font-settings (
				F-size16,
				F-line-height19-2,
				F-letter-spacing-10,
				F-family-KosugiMaru,
				normal,
				F-color-white);
		}
	}
}


.introduction-list {
	&__inner {
		min-width: 1080px;
		width: 81%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		border-radius: 40px;
		padding: 0 3%;
		margin: 0px auto -37px;
		position: relative;
		z-index: 1;
		background-color: map-get(mixin.$colors, "C-white");
		//カテゴリータブ（園、都道府県）	
		.tab-contents-wrap {
			background: white;
			border-radius: 15px;
			width: 100%;
			display: flex;
			padding: 60px 0 12px;
			.tab-contents {
				display: none;
				font-size: 14px;
				&.is-contents-active {
					display: block;
				}
				ul {
					list-style: none;
					margin: 0 ;
					display: flex;
					flex-wrap: wrap;
					padding:0px;
					gap: 10px;
					li {
						border-radius: 8px;
						border: 1px solid map-get(mixin.$colors, "C-pink");
						cursor: pointer;
						transition: all 0.3s ease;
						a {
							@include mixin.font-settings(
								F-size16,
								F-line-height19-2,
								F-letter-spacing-10,
								F-family-KosugiMaru,
								normal,
								F-color-pink
							);
							text-align: center;
							text-decoration: none;
							display: block;
							transition: all 0.3s ease; // a要素にもスムーズな変化を適用
						}
						.category-filter {
							width: 200px;
							padding:8px 0;
						}			
						.prefecture-filter {
							width: 150px;
							padding: 8px 0;
						}			
						.category-filter.is-btn-active,
						.prefecture-filter.is-btn-active {
							border-radius: 8px;
							color: white;
							background-color: map-get(mixin.$colors, "C-pink");
						}
					}
					// li全体をホバーしたときに、aにも適用
					li:hover {
						background: map-get(mixin.$colors, "C-pink");
						transition: all 0.3s ease;
						a {
							opacity: 1;
							color: white; // aの文字色も白に
						}
					}
				}
			}
		}
		
		
		//// 投稿カードのデザイン
		.introduction-thumbnail {
			max-width: 320px;
			width: 100%;
			height: 272px;
			// background: map-get(mixin.$colors, "C-light-pink");
			padding: 12px;
			border-radius: 20px;
			overflow: hidden;
			transition: all 0.3s ease;
			position: relative;
			&:hover {
				transform: translateY(-5px);
				box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
			}
			img {
				width: 100%;
				height: 180px;
				object-fit: cover;
				border-radius: 20px;
			}
			.nursery-prefecture,
			.news-header__flex--category {
				@include mixin.font-settings (
					F-size14,
					F-line-height14,
					F-letter-spacing-10,
					F-family-KosugiMaru,
					normal,
					F-color-brown);
				background-color: map-get(mixin.$colors, "C-white");
				padding: 4px 8px;
				border-radius: 8px;
				display: inline-block;
				margin: 10px 0;
			}
			.news-header__flex--category {
				margin: 0 2px 0 0;
			}

			h2.nursery-name {
				@include mixin.font-settings (
					F-size20,
					F-line-height30,
					F-letter-spacing-10,
					F-family-KosugiMaru,
					normal,
					F-color-brown);
			}
		}
		/* 園の種類ごとに背景色を変更 */
		.nintei-hoiku { 
			background-color: map-get(mixin.$colors, "C-light-pink"); // ピンク
		}
		.shokibo-hoiku { 
			background-color:#FFF9CB; // 黄色
		}
		.shokibo-a-gata { 
			background-color: #EDF4FF; // 青色
		}
	}
}



.pagination {
		display: block; /* ✅ flex内に入らないようにblock指定 */
    width: 100%; /* 横幅を最大に */
    text-align: center; /* 中央揃え */
		justify-content: center;
		margin: 16px auto 58px;
		&__inner {
			display: flex;
			width: 201px;
			margin: 16px auto 58px;
			a, span {
				display: flex;
        justify-content: center;
        align-items: center;
				margin: 0 auto;
        width: 36px; /* ボタンの大きさ */
        height: 36px;
        border-radius: 8px; /* 丸い形 */
				@include mixin.font-settings (
					F-size16,
					F-line-height19-2,
					F-letter-spacing-10,
					F-family-KosugiMaru,
					normal,
					F-color-pink);
					text-decoration: none;
					padding: 0 0 0 0;
					background:map-get(mixin.$colors, "C-white"); /* 背景色 */
					border: 1px solid map-get(mixin.$colors, "C-pink"); /* 枠線 */
					transition: 0.3s ease;
				i {
					font-size: 11px;
				}
        &:hover {
					opacity: 1;
					transition: all 0.3s ease;
          background: map-get(mixin.$colors, "C-pink");
          color: map-get(mixin.$colors, "C-white");
        }
      }
    .current {
        background: map-get(mixin.$colors, "C-pink");
        color: map-get(mixin.$colors, "C-white");
        border: none;
    }
	}
}

@include mixin.TAB2 {
	.introduction-list {
		&__inner {
			min-width: 0;
			width: 100%;
		}
	}
}	



@include mixin.SP {
	// タブエリア
	.tab-list {
		&__item {
			@include mixin.font-settings (
			F-size14,
			F-line-height16-8,
			F-letter-spacing-10,
			F-family-KosugiMaru,
			normal,
			F-color-pink);
			background-color: map-get(mixin.$colors, "C-white");
			border: 1px solid map-get(mixin.$colors, "C-pink");
			border-bottom:none ;
			text-align: center;
			padding: 8px 18px 5px;
			border-radius:12px 12px 0 0;
			width: 120px;
			// border: 2px solid transparent;
			cursor: pointer;
			transition: all 0.3s ease;
			&.is-btn-active {
				text-align: center;
				background-color: map-get(mixin.$colors, "C-pink");
				@include mixin.font-settings (
					F-size14,
					F-line-height16-8,
					F-letter-spacing-10,
					F-family-KosugiMaru,
					normal,
					F-color-white);
			}
		}
	}
	
	.introduction-list {
		&__inner {
			min-width: 0;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 20px;
			border-radius: 30px;
			padding: 0 4% -19px;
			margin: -3px auto -42px;
			position: relative;
			z-index: 10;
			background-color: map-get(mixin.$colors, "C-white");
			.tab-contents-wrap {
				background: white;
				border-radius: 15px;
				width: 100%;
				display: flex;
        padding: 24px 0 12px;
				.tab-contents {
					display: none;
					font-size: 14px;
					&.is-contents-active {
						display: block;
					}
					ul {
						list-style: none;
						display: flex;
						flex-wrap: wrap;
						justify-content: flex-start;
						padding:0;
						margin:0;
						gap: 12px;
						li {
							border-radius: 8px;
							border: 1px solid map-get(mixin.$colors, "C-pink");
							cursor: pointer;
							transition: all 0.3s ease;
							a {
								@include mixin.font-settings(
									F-size14,
									F-line-height16-8,
									F-letter-spacing-10,
									F-family-KosugiMaru,
									normal,
									F-color-pink
								);
								text-align: center;
								text-decoration: none;
								display: block;
								transition: all 0.3s ease; // a要素にもスムーズな変化を適用
							}
							.category-filter {
								width: 150px;
								padding:8px 0;
							}			
							.prefecture-filter {
								width: 150px;
								padding: 8px 0;
							}			
						}
						// li全体をホバーしたときに、aにも適用
						li:hover {
							background: map-get(mixin.$colors, "C-pink");
							transition: all 0.3s ease;
							a {
								opacity: 1;
								color: white; // aの文字色も白に
							}
						}
					}
				}
			}
			@media screen and (max-width: 365px)  {
				.tab-contents-wrap {
					width: 100%;
					display: flex;
					flex-direction: column;
					padding: 24px 0 12px;
					.tab-contents {
						display: none;
						font-size: 14px;
						ul {
							display: flex;
							flex-direction: column;
							li {
								.category-filter {
									width: 100%;
								}			
								.prefecture-filter {
									width: 100%;
								}			
							}
						}
					}
				}
			}
				
			//// 投稿カードのデザイン
			.introduction-thumbnail {
				max-width: 320px;
				width: 100%;
				height: 269px;
				// background: map-get(mixin.$colors, "C-light-pink");
				padding: 12px;
				border-radius: 20px;
				overflow: hidden;
				transition: all 0.3s ease;
				position: relative;
				&:hover {
					transform: translateY(-5px);
					box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
				}
				img {
					width: 100%;
					height: 180px;
					object-fit: cover;
					border-radius: 20px;
				}
				.nursery-prefecture,
				.news-header__flex--category {
					@include mixin.font-settings (
						F-size14,
						F-line-height14,
						F-letter-spacing-10,
						F-family-KosugiMaru,
						normal,
						F-color-brown);
					background-color: map-get(mixin.$colors, "C-white");
					padding: 4px 8px;
					border-radius: 8px;
					display: inline-block;
					margin: 8px 0;
				}
				.news-header__flex--category {
					margin: 0 8px 0 0;
				}
	
				h2.nursery-name {
					@include mixin.font-settings (
						F-size18,
						F-line-height27,
						F-letter-spacing-10,
						F-family-KosugiMaru,
						normal,
						F-color-brown);
				}
			}
			/* 園の種類ごとに背景色を変更 */
			.nintei-hoiku { 
				background-color: map-get(mixin.$colors, "C-light-pink"); // ピンク
			}
			.shokibo-hoiku { 
				background-color:#FFF9CB; // 黄色
			}
			.shokibo-a-gata { 
				background-color: #EDF4FF; // 青色
			}
		}
	}
	
	.pagination {
		display: block; /* ✅ flex内に入らないようにblock指定 */
    width: 100%; /* 横幅を最大に */
    text-align: center; /* 中央揃え */
		justify-content: center;
		margin: 5px auto 48px;
		.pagination__inner {
			display: flex;
			width: 90px;
			margin: 300px auto;
			a, span {
				display: flex;
        justify-content: center;
        align-items: center;
				margin: 0 auto;
        width: 24px; /* ボタンの大きさ */
        height: 24px;
        border-radius: 8px; /* 丸い形 */
				@include mixin.font-settings (
					F-size14,
					F-line-height16-8,
					F-letter-spacing-10,
					F-family-KosugiMaru,
					normal,
					F-color-pink);
        text-decoration: none;
				padding: 0 0 0 0;
        background:map-get(mixin.$colors, "C-white"); /* 背景色 */
        border: 1px solid map-get(mixin.$colors, "C-pink"); /* 枠線 */
        transition: 0.3s ease;
				i {
					font-size: 11px;
				}
        &:hover {
					opacity: 1;
					transition: all 0.3s ease;
          background: map-get(mixin.$colors, "C-pink");
          color: map-get(mixin.$colors, "C-white");
        }
      }
      .current {
        background: map-get(mixin.$colors, "C-pink");
        color: map-get(mixin.$colors, "C-white");
        border: none;
      }
		}
	}
	
}
	
		