@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;


#philosophy {
  margin: -13px auto 0;
  .philosophy {
    &__inner {
      &--text {
        margin: 50px auto 121px;
        text-align: center;
        @include mixin.font-settings (
          F-size18,
          F-line-height54,
          F-letter-spacing-20,
          F-family-KosugiMaru, 
          400, 
          F-color-brown);    
      }
    }
  }
}

#yearly-program {
  padding: 0px 5% 118px 6% ;
  margin: 0 auto;
  .yearly-program {
    &__inner {
      .yearly-list {
        min-width: 1080px;
        width: 84%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        border-radius: 40px;
        padding: 60px 3% 116px;
        margin: 32px auto 0;
        position: relative;
        background-color: map-get(mixin.$colors, "C-white");
        .card {
          width: 320px;
					height: 264px;
					display: block;
          background: map-get(mixin.$colors, "C-light-pink");
          padding: 12px;
          border-radius: 20px;
          overflow: hidden;
          transition: all 0.3s ease;
          position: relative;
          &__image {
						aspect-ratio: 296 / 180;	//レイアウトシフト対策
            width: 100%;
            border-radius: 20px;
            object-fit: cover;
          }
          &__textarea {
            padding: 9px 0px 0 0px;
            &--month {
              @include mixin.font-settings (
                F-size20,
                F-line-height30,
                F-letter-spacing-10,
                F-family-KosugiMaru,
                normal,
                F-color-brown);
            }
            &--event {
              @include mixin.font-settings (
                F-size14,
                F-line-height14,
                F-letter-spacing-10,
                F-family-KosugiMaru,
                normal,
                F-color-brown);
                margin: 8px 0 0;
            }
          }
        }
        &__text {
          position: absolute;
          bottom: 59px;
          left: 38px;
          padding: 12px 0 0 ;
          @include mixin.font-settings (
          F-size16,
          F-line-height24,
          F-letter-spacing-10,
          F-family-KosugiMaru,
          normal,
          F-color-black);
        }
      }
    }
  }
}  




@include mixin.TAB2 {
  #philosophy {
    margin: 0px auto ;
    padding: 0 3.5% 0 4%;
    .philosophy {
      &__inner {
        &--text {
          margin: 60px auto 164px;
          text-align: left;
          @include mixin.font-settings (
            F-size16,
            F-line-height48,
            F-letter-spacing-20,
            F-family-KosugiMaru, 
            400, 
            F-color-brown);    
        }
      }
    }
  }
  
  #yearly-program {
    padding: 32px 4% 80px;
    .yearly-program {
      &__inner {
        .yearly-list {
          min-width: 0;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          border-radius: 40px;
          padding: 60px 3.3% 150px;
          margin: 31px auto 0;
          background-color: map-get(mixin.$colors, "C-white");
          .card {
            width: 320px;
						height: 264px;
						display: block;
            background: map-get(mixin.$colors, "C-light-pink");
            padding: 12px;
            border-radius: 20px;
            overflow: hidden;
            transition: all 0.3s ease;
            position: relative;
            &__image {
							aspect-ratio: 296 / 180;	//レイアウトシフト対策
              width: 100%;
              border-radius: 20px;
              object-fit: cover;
            }
            &__textarea {
              padding: 8px 11px 0 0px;
              &--month {
                @include mixin.font-settings (
                  F-size20,
                  F-line-height30,
                  F-letter-spacing-10,
                  F-family-KosugiMaru,
                  normal,
                  F-color-brown);
              }
              &--event {
                @include mixin.font-settings (
                  F-size14,
                  F-line-height14,
                  F-letter-spacing-10,
                  F-family-KosugiMaru,
                  normal,
                  F-color-brown);
                  margin: 8px 0 0;
              }
            }
          }
          &__text {
            padding: 4px 8px 0 5px;
            position: absolute;
            bottom: 62px;
            left: 10px;
            @include mixin.font-settings (
            F-size14,
            F-line-height21,
            F-letter-spacing-10,
            F-family-KosugiMaru,
            normal,
            F-color-black);
          }
        }
      }
    }
  }  
  
} 