@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;

#site-map {
  padding: 80px 12.92% 80px 12.5%;
  .site-map {
    &__inner {
      background-color: map-get(mixin.$colors, "C-white");
      border-radius: 40px;
      .site-map-list {
        &__ul {
          max-width: 1080px;
          width: 100%;
          height: 318px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 0px  43px;
          justify-content: center;
          align-items: start;
          margin: 0 auto;
          padding: 60px 11.09%;
          justify-items: start;
          
          &--li {
            position: relative; 
            top: 9px;
            left: 21px;
            padding: 0 0 0 32px;
            width: 94%;
            height: 38px;
            border-bottom: 1.3px solid transparent;
            border-image: repeating-linear-gradient(
              90deg
            , #55000C 4px
            , #55000C 7px
            , transparent 5px
            , transparent 10px) 20;
            display: inline-block;
            a {
            @include mixin.font-settings (
              F-size20,
              F-line-height30,
              F-letter-spacing-10,
              F-family-KosugiMaru,
              400,
              F-color-brown);
              width: 100%; // 幅を均等にする
              &::before {
                content: "●"; /* 例: 矢印 */
                font-size: 15px;
                position: absolute;
                left: 8px;
                top: 5px;
                color: map-get(mixin.$colors, "C-yellow"); /* デザインの色に合わせる */
              }
              .fa-solid {
                position: absolute;
                font-size: 14px;
                right: 22px;
                top: 7px;
              }
            }
          }
        }
      }
    }
  }
}


@include mixin.TAB2 {
  #site-map {
    padding: 80px 8% ;
    .site-map {
      &__inner {
        .site-map-list {
          &__ul {
            width: 1080px;
            height: 318px;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 0px  43px;
            justify-content: center;
            align-items: start;
            margin: 0 auto;
            padding: 60px 11.09%;
            width: 100%;
            height: 486px;
            justify-items: start;
            
            &--li {
              position: relative; 
              top: 7px;
              left: -19px;
            }
          }
        }
      }
    }
  }
}




@include mixin.SP {
  #site-map {
    padding: 80px 4%;
    .site-map {
      &__inner {
        background-color: map-get(mixin.$colors, "C-white");
        border-radius: 40px;
        .site-map-list {
          &__ul {
            max-width: 800px;
            width: 100%;
            height: 353px;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 0px 0px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 33px 0;
            justify-items: start;
            &--li {
              position: relative; 
              top: 2px;
              left: 22px;
              padding: 0 0 0 32px;
              width: 90%;
              height: 32px;
              border-bottom: 1.3px solid transparent;
              border-image: repeating-linear-gradient(90deg, #55000C 4px, #55000C 7px, transparent 5px, transparent 10px) 20;
              display: inline-block;
              a {
              @include mixin.font-settings (
                F-size16,
                F-line-height24,
                F-letter-spacing-10,
                F-family-KosugiMaru,
                400,
                F-color-brown);
                width: 100%; // 幅を均等にする
                &::before {
                  content: "●"; /* 例: 矢印 */
                  font-size: 15px;
                  position: absolute;
                  left: 8px;
                  top: 5px;
                  color: map-get(mixin.$colors, "C-yellow"); /* デザインの色に合わせる */
                }
                .fa-solid {
                  position: absolute;
                  font-size: 14px;
                  right: 20px;
                  top: 6px;
                }
              }
            }
          }
        }
      }
    }
  }
  
  
}  