@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;


#contact-form-section {
	margin: 32px auto 70px;
  height: auto;
  .contact-form-section {
  &__inner {			
		.contact-top {
			padding: 0 6.4%;
			.section-title,p {
				max-width: 963px;
				width: 100%;
				margin: 15px auto 0px;
			}
		}
    .contact-form-wrapper {
			background-color: #F6F7F7;
			padding: 56px 6.4%;
			margin: 50px 0 0;
			.wpcf7 {
				.wpcf7-form {
					max-width: 836px;
					width: 100%;
					margin: 0 auto;
					.form-list {
						width: 100%;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						margin: 0px 0 42.5px;
						.label-content {
							width: 29.4%;
							display: flex;
							align-items: center;
							label {
								position: relative;
								margin: 0 0 0 71px;
								@include mixin.font-settings
								( F-size16
								, F-line-height24
								, F-letter-spacing-0-8
								, F-family-Noto-Sans-JP
								, 500
								, F-color-black
								);
							}
							// 必須アイコン	
							.required {
								position: absolute;
								width: 47px;
								height: 24px;
								text-align: center;
								padding: 0;
								margin: 0 0px 0 14px;
								background-color: map-get(mixin.$colors, "C-blue");
								@include mixin.font-settings
								( F-size14
								, F-line-height24
								, F-letter-spacing-0-7
								, F-family-Noto-Sans-JP
								, 400
								, F-color-white);
							}
						}
						.input-content {
							.inquiry-checkbox {
								display: flex;
								flex-direction: column;
								gap: 10px;
								margin: -1px 0 0px -3px;
								.wpcf7-list-item {
									margin: 6px 0px 0px -1px;
									width: fit-content;
									transition: .3s;
									@include mixin.font-settings
									( F-size16
									, F-line-height24
									, F-letter-spacing-0-8
									, F-family-Noto-Sans-JP
									, 400
									, F-color-black);
									
								}
							}
						}
						.tel-input {
							max-width: 310px;							
							width: 100%;
							height: 48px;
						}
					
						
						.inquiry-details {
							max-width: 582px;
							width: 100%;
							height: 244px;
						}
					}	
					
					.flex-start {
						align-items: flex-start;
						margin: 50px 0 17px;
					}
					//利用規約と個人情報
					.form-list.agree {
						width: 63%;
						margin: 28px auto 49px;
						justify-content: center;
						.input-agree {
							display: flex;
							justify-content: center;
							flex-direction: column;
							input[type="checkbox"] {
								-webkit-appearance: checkbox; // Webkitブラウザ用
								-moz-appearance: checkbox;    // Mozillaブラウザ用
								appearance: checkbox;         // モダンブラウザ用
								margin-right: 4px;
								width: 20px;
								height: 20px;
							}
							label {
								display: flex;
								flex-direction: row;
								align-items: flex-start;
								.agree-flex {
									display: flex;
									align-items: flex-start;
									width: 100%;
									a {
										color: #3B4EAB;
										&:hover {
											color: #ee7a21;
										}
									}
									input[type="checkbox"] {
										-webkit-appearance: checkbox; // Webkitブラウザ用
										-moz-appearance: checkbox;    // Mozillaブラウザ用
										appearance: checkbox;         // モダンブラウザ用
										margin: 0px 22px 0 0;
										width: 28px;
										height: 22px;		
										flex: 0 0 20px; // ← 幅を絶対確保！
									}
									.agree-label-text {
										flex: 1;
										word-break: break-word;
										@include mixin.font-settings
										( F-size16
										, F-line-height24
										, F-letter-spacing-10
										, F-family-KosugiMaru
										, 400
										, F-color-black);
									}
								}
								.required {
									display: block;
									width: 42px;
									height: 20px;
									text-align: center;
									padding: 4px 0;
									margin: 0 0 0 4px;
									background-color: map-get(mixin.$colors, "C-pink");
									@include mixin.font-settings
									( F-size12
									, F-line-height12
									, F-letter-spacing-10
									, F-family-KosugiMaru
									, 400
									, F-color-white);
								}
							}
							#agree-error {
								margin: 6px 0 0 30px;
							}
						}
					}
					
					input[type="text"],
					input[type="email"],
					input[type="tel"],
					input[type="date"]
						{
						max-width: 374px;
						width: 100%;
						padding: 12px;
						border-radius: 4px;
						border: 1px solid map-get(mixin.$colors, "C-black");
						font-size: 16px;
						background: map-get(mixin.$colors, "C-white");
						&:focus {
							border-color: map-get(mixin.$colors, "C-pink");
							background: #fff;
							outline: none;
						}
					}
					textarea {
						width: 582px;
						// width: 100%;
						height: 244px;
						padding: 12px;
						border: 1px solid map-get(mixin.$colors, "C-black");
						border-radius: 4px;
						font-size: 16px;
						background: map-get(mixin.$colors, "C-white");
						&:focus {
							border-color: map-get(mixin.$colors, "C-pink");
							background: #fff;
							outline: none;
						}
					}
					input[type="radio"],
					input[type="checkbox"] {
						-webkit-appearance: checkbox; // Webkitブラウザ用
						-moz-appearance: checkbox;    // Mozillaブラウザ用
						appearance: checkbox;         // モダンブラウザ用
						margin-right: 18px;
						width: 22px;
						height: 22px;
					}
				
					.btn-wrapper {
						margin: 0 auto 0 72px;
						text-align: center;
					}
				}	
			}
		}
	}
}
}
	
	
	
@include mixin.TAB1 {	
	#contact-form-section {
		margin: 49px auto -26px;
		height: auto;
		.contact-form-section {
		&__inner {			
			.contact-top {
				padding: 0 6.4%;
				.section-title,p {
					max-width: 963px;
					width: 100%;
					margin: 0 auto;
					flex-direction: column;
					line-height: 27px;
					h3 {
						line-height: 10px;
					}
					span {
						line-height: 10px;
						margin: 29px 0 24px;
						padding: 0;
					}
				}
			}
			.contact-form-wrapper {
				background-color: #F6F7F7;
				padding: 40px 6.4% 10px;
				margin: 30px 0 79px;
				.wpcf7 {
					.wpcf7-form {
						max-width: 100%;
						width: 100%;
						margin: 0 auto;
						.form-list {
							width: 100%;
							display: block;
							margin: 0px 0 35px;
							.label-content {
								width: 100%;
								display: flex;
								align-items: center;
								margin: 0 0 16px;
								label {
									position: initial;
									margin: 0 ;
									@include mixin.font-settings
									( F-size16
									, F-line-height24
									, F-letter-spacing-0-8
									, F-family-Noto-Sans-JP
									, 500
									, F-color-black
									);
								}
								// 必須アイコン	
								.required {
									position: initial;
									width: 47px;
									height: 24px;
									text-align: center;
									padding: 0;
									margin: 0 10px 0 0;
									background-color: map-get(mixin.$colors, "C-blue");
									@include mixin.font-settings
									( F-size14
									, F-line-height24
									, F-letter-spacing-0-7
									, F-family-Noto-Sans-JP
									, 400
									, F-color-white);
								}
							}
							.input-content {
								// max-width: 374px;
								// width: 100%;
								.inquiry-checkbox {
									display: flex;
									flex-direction: column;
									gap: 10px;
									.wpcf7-list-item {
										margin: 6px 0px 0px -1px;
										width: fit-content;
										transition: .3s;
										@include mixin.font-settings
										( F-size16
										, F-line-height24
										, F-letter-spacing-0-8
										, F-family-Noto-Sans-JP
										, 400
										, F-color-black);
										
									}
								}
							}
							.tel-input {
								max-width: 310px;							
								width: 100%;
								height: 48px;
							}
						
							
							.inquiry-details {
								max-width: 582px;
								width: 100%;
								height: 244px;
							}
						}	
						
						.flex-start {
							align-items: flex-start
						}
						//利用規約と個人情報
						.form-list.agree {
							width: 100%;
							margin: -8px auto 49px 20px;
							justify-content: center;
							.input-agree {
								display: flex;
								justify-content: center;
								flex-direction: column;
								input[type="checkbox"] {
									-webkit-appearance: checkbox; // Webkitブラウザ用
									-moz-appearance: checkbox;    // Mozillaブラウザ用
									appearance: checkbox;         // モダンブラウザ用
									margin-right: 4px;
									width: 20px;
									height: 20px;
								}
								label {
									display: flex;
									flex-direction: row;
									align-items: flex-start;
									.agree-flex {
										display: flex;
										align-items: flex-start;
										width: 100%;
										a {
											color: #3B4EAB;
											&:hover {
												color: #ee7a21;
											}
										}
										input[type="checkbox"] {
											-webkit-appearance: checkbox; // Webkitブラウザ用
											-moz-appearance: checkbox;    // Mozillaブラウザ用
											appearance: checkbox;         // モダンブラウザ用
											margin: 0 12px 0 0;
											width: 20px;
											height: 20px;			
											flex: 0 0 20px; // ← 幅を絶対確保！
										}
										.agree-label-text {
											flex: 1;
											word-break: break-word;
											@include mixin.font-settings
											( F-size16
											, F-line-height24
											, F-letter-spacing-10
											, F-family-KosugiMaru
											, 400
											, F-color-black);
										}
									}
									.required {
										display: block;
										width: 42px;
										height: 20px;
										text-align: center;
										padding: 4px 0;
										margin: 0 0 0 4px;
										background-color: map-get(mixin.$colors, "C-pink");
										@include mixin.font-settings
										( F-size12
										, F-line-height12
										, F-letter-spacing-10
										, F-family-KosugiMaru
										, 400
										, F-color-white);
									}
								}
								#agree-error {
									margin: 6px 0 0 30px;
								}
							}
						}
						
						input[type="text"],
						input[type="email"],
						input[type="tel"],
						input[type="date"]
							{
							max-width: 100%;
							width: 100%;
							padding: 12px;
							border: 1px solid map-get(mixin.$colors, "C-black");
							font-size: 16px;
							background: map-get(mixin.$colors, "C-white");
							&:focus {
								border-color: map-get(mixin.$colors, "C-pink");
								background: #fff;
								outline: none;
							}
						}
						textarea {
							width: 100%;
							// width: 100%;
							height: 244px;
							padding: 12px;
							border: 1px solid map-get(mixin.$colors, "C-black");
							border-radius: 4px;
							font-size: 16px;
							background: map-get(mixin.$colors, "C-white");
							&:focus {
								border-color: map-get(mixin.$colors, "C-pink");
								background: #fff;
								outline: none;
							}
						}
						input[type="radio"],
						input[type="checkbox"] {
							-webkit-appearance: checkbox; // Webkitブラウザ用
							-moz-appearance: checkbox;    // Mozillaブラウザ用
							appearance: checkbox;         // モダンブラウザ用
							margin: 3px 17px 0 6px;
							width: 20px;
							height: 20px;
						}
					
						.btn-wrapper {
							margin: 0 auto;
							text-align: center;
							.gradient-entry-button {
								max-width: 100%;
								margin: 0 auto;
							}
						}
					}	
				}
			}
		}
	}
	}
	
}