@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;


#thanks {
	padding: 0 6.4%;
	.thanks {
		&__inner {
			margin: 32px auto 70px;
			height: auto;
			max-width: 962px;
			width: 100%;
			.section-title {
				align-items: baseline;
				&__ja {
					margin: 2px 0px 0 13px;
				}
			}
			
			h4 {
				margin: 7px 0px 15px;
				@include mixin.font-settings
				( F-size32
				, F-line-height46
				, F-letter-spacing-1-6
				, F-family-Noto-Sans-JP
				, 500
				, F-color-black								
				);
			}
			p {
				margin: 0px 0 43px;
				@include mixin.font-settings
					( F-size16
					, F-line-height32
					, F-letter-spacing-0-8
					, F-family-Noto-Sans-JP
					, 500
					, F-color-black
					);
			}
			
			.slanted-svg-button {
				margin: 0px 371px 114px auto;
			}
		}
	}
}


// SP
@media screen and (max-width: 700px) {
	#thanks {
		padding: 0 6.4%;
		.thanks {
			&__inner {
				margin: 32px auto 70px;
				height: auto;
				max-width: 962px;
				width: 100%;
				h4 {
					margin: 18px 0px 15px;
					@include mixin.font-settings
					( F-size24
					, F-line-height32
					, F-letter-spacing-1-6
					, F-family-Noto-Sans-JP
					, 500
					, F-color-black								
					);
				}
				p {
					margin: 0px 0 34px;
					@include mixin.font-settings
						( F-size16
						, F-line-height32
						, F-letter-spacing-0-8
						, F-family-Noto-Sans-JP
						, 500
						, F-color-black
						);
				}
				
				
				.slanted-svg-button {
					margin: 0px auto;
				}
			}
		}
	}
}	