@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;


#thanks {
  padding:  0;
  margin: 80px auto 0;
  text-align: center;
  .p1 {
    @include mixin.font-settings
      ( F-size20
      , F-line-height20
      , F-letter-spacing-10
      , F-family-KosugiMaru
      , normal
      , F-color-black);
      margin: 85px 0 -8px;
  }
}



@include mixin.SP {
  #thanks {
    padding:  0 4%;
    margin: 80px auto 0;
    text-align: left;
    .p1 {
      @include mixin.font-settings
        ( F-size16
        , F-line-height24
        , F-letter-spacing-10
        , F-family-KosugiMaru
        , normal
        , F-color-black);
        margin: -20px 0 -46px;
    }

    
  }
}  

