@use "../../_foundation/_mixin"as mixin;
@use "../../_foundation/_base"as base;






.contact-form-wrapper-confirm {
  margin:90px auto 30px;
  // color: #707070;
  @include mixin.font-settings
  ( F-size16
  , F-line-height18
  , F-letter-spacing-1-6
  , F-family-gothic
  , normal
  , F-color-rightgray);
  .wpcf7 {
    .wpcf7-form {
      //基本ベース
      .form-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 32px;
        padding: 0 0 0 39px;
        width: 100%;
        // 項目ブロック----------------
        .title-flex {
          width: 39%;
          display: flex;
          justify-content: left;
          align-items: center;
          // 必須タグ
          .required-icon {
            @include mixin.font-settings
            ( F-size12
            , F-line-height28
            , F-letter-spacing-1-2
            , F-family-mincho
            , normal
            , F-color-white);
            background-color: #54372D;  // アイコンの背景色
            border-radius: 15px;
            padding: 0 18px;           // 内側の余白
            margin: 0 16px 0 0;
          }
          // 任意タグ
          .optional-icon {
            @include mixin.font-settings
            ( F-size12
            , F-line-height28
            , F-letter-spacing-1-2
            , F-family-mincho
            , normal
            , F-color-black);
            background-color: #D4CEBE;  // アイコンの背景色
            border-radius: 15px;
            padding: 0 18px;           // 内側の余白
            margin: 0 16px 0 0;
          }
          //項目
          .title {
            @include mixin.font-settings
            ( F-size16
            , F-line-height28
            , F-letter-spacing-1-6
            , F-family-mincho
            , normal
            , F-color-black);
            color: #333333;
          }
        }
        label {
        width: 66%;
          .wpcf7-form-control-wrap {
            width: 66%;
            .wpcf7-text {
              max-width: 620px; /* 最大幅を620pxに制限 */
              width: 100%; /* 親要素の幅に基づいて可変 */
              height: 50px;             // 高さを設定
              background-color: #FFFFFF;
              margin: 0 -17px 0 0px;
              padding: 0 0 0 10px; //カーソルスタート位置
              border-radius: 5px;       // 角丸
              font-size: 1rem;          // フォントサイズ
              appearance: none;         // デフォルトの外観を無効化
              -webkit-appearance: none; // Safari用の外観を無効化
            }                     
          }
        }  
      }

      //項目【ご希望の連絡時間帯】
      .hope-time {
        width: 100%;
        margin:  -21px 0 -13px;
          .checkbox-group {
            width: 65%;
            margin: 3px -4px 18px 0px;
            &__inner {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 620px;
              margin: 19px -18px 21px 0px;
              .wpcf7-form-control-wrap[data-name="weekday-contact-time"] , //平日
              .wpcf7-form-control-wrap[data-name="holiday-contact-time"] {  //休日
                width: 91%;
                .wpcf7-list-item {
                  width: 23%;
                }
              }

              legend {
                @include mixin.font-settings
                ( F-size14
                , F-line-height28
                , F-letter-spacing-1-4
                , F-family-gothic
                , normal
                , F-color-black);
                margin:  5px 19px 0 -2px;
              }

              .wpcf7-checkbox {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                input[type="checkbox"] {
                  -webkit-appearance: checkbox; // Webkitブラウザ用
                  -moz-appearance: checkbox;    // Mozillaブラウザ用
                  appearance: checkbox;         // モダンブラウザ用
                  width: 31px;
                  height: 30px;
                }
                .wpcf7-list-item {
                  margin: 0;
                  .wpcf7-list-item-label {
                    @include mixin.font-settings
                    ( F-size14
                    , F-line-height28
                    , F-letter-spacing-1-4
                    , F-family-gothic
                    , normal
                    , F-color-black);
                  }
                }
              }
            }
          }
      }


      //項目【お問い合わせ項目】
      .form-select {
        width: 100%;
        margin: -19px 0 0;
        .checkbox-form-group {
          width: 65%;
          display: flex;
          flex-wrap: wrap;
          margin: 12px -4px 8px 0px;
          .wpcf7-form-control-wrap[data-name="checkbox-475"] {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .wpcf7-checkbox {
              display: flex;
              flex-wrap: wrap;
              gap: 12px; /* チェックボックスの間隔 */
              width: 100%;
            }
            .wpcf7-list-item {
              width: 38%; /* 2列に並べる */
              display: flex;
              align-items: center;
              margin-bottom: 8px; /* 下の余白を調整 */
            }
          }
          legend {
            @include mixin.font-settings(
              F-size14,
              F-line-height28,
              F-letter-spacing-1-4,
              F-family-gothic,
              normal,
              F-color-black
            );
            margin: 0 20px 0 6px;
          }
          .wpcf7-list-item input[type="checkbox"] {
            -webkit-appearance: checkbox; // Webkitブラウザ用
            -moz-appearance: checkbox;    // Mozillaブラウザ用
            appearance: checkbox;         // モダンブラウザ用
            width: 31px;
            height: 30px;
            margin-right: 8px; /* ラベルとの間隔 */
          }
          .wpcf7-list-item-label {
            @include mixin.font-settings(
              F-size14,
              F-line-height28,
              F-letter-spacing-1-4,
              F-family-gothic,
              normal,
              F-color-black
            );
          }
        }
      }

      // 項目【希望店舗】
      .hope-store {
        max-width: 1080px;
        width: 100%;
        margin: 19px 0 0;
        .hope-store-label {
          width: 65%;
          margin: 19px 0 0;
          .wpcf7-form-control-wrap[data-name="your-store"] {
            width: 45%; 
            .wpcf7-text {
              max-width: 300px;
              width: 100%;  
            } 
          }   
        }
      } 

      //項目【来店希望日（第一希望）（第二希望）】
      .date-field {
        max-width: 68%;
        width: 100%;
        justify-content: space-between;
        margin: 39px 0 0;
        position: relative; 
        .title-flex {
          width: 42%;
        }
        .date-field-wrap {  
          width: 44%;  
          .hopeday-label {
            width: 100%; 
            .my-date-field {
              max-width: 300px;
              width: 100%;             // 入力欄を親要素内で幅いっぱいに
              height: 50px;             // 高さを設定
              background-color: #FFFFFF;
              color:  #000 !important;
              border-radius: 5px;       // 角丸
              font-size: 14px;          // フォントサイズ
              appearance: none;         // デフォルトの外観を無効化
              -webkit-appearance: none; // Safari用の外観を無効化
              -moz-appearance: none; /* Firefox */
            }
          }  
        }
      }

      //項目【お問い合わせ内容】
      .textarea {  //labelタグに対してclass
        width: 100%; 
        justify-content: space-between;
        align-items: flex-start;
        margin: 49px 0 0;
        .title-flex {
          width: 22%;
        }
        .textarea-flex {
          width: 63%; 
          .textarea-label {
            width: 100%;   
            .wpcf7-form-control-wrap[data-name="your-details"] {
              .wpcf7-textarea {
                max-width: 620px;
                width: 100%;              // 入力欄を親要素内で幅いっぱいに
                height: 120px;             // 高さを設定
                background-color: #FFFFFF;
                border-radius: 5px;       // 角丸
                font-size: 1rem;          // フォントサイズ
                padding: 10px 0 0 10px; //カーソルスタート位置
                margin: -12px -15px 0px 1px;
                appearance: none;         // デフォルトの外観を無効化
                -webkit-appearance: none; // Safari用の外観を無効化
              }
            }
          }

          .details-text {
            @include mixin.font-settings
            ( F-size12
            , F-line-height28
            , F-letter-spacing-1-2
            , F-family-gothic
            , normal
            , F-color-black);
            margin: 8px 0 0;
          }
        }
      }
      
      //ボタン
      .wpcf7-submit {
        width: 160px;
        height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:center  ; // 中央揃え
        background: #949E33; // 初期背景色
        @include mixin.font-settings
        ( F-size16
        , 26
        , F-letter-spacing-2
        , F-family-mincho
        , normal
        , F-color-white);
        border-radius: 40px;
        margin: 32px auto 0;
        transition: background 0.3s ease, color 0.3s ease;
        text-decoration: none; // リンクの場合も装飾を消す
        cursor: pointer;
        &:hover {
          background-color: #CA7F13;
        }
      }
      
    }
  }
}